@model List<List<ALFINapp.Infrastructure.Persistence.Models.VistasPorRolDTO>>

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

@{
    var Vistas = ViewData["Vistas"] as List<ALFINapp.Infrastructure.Persistence.Models.VistaRutas>;
}

<div class="container">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Roles</h4>
        <p>En esta sección se pueden asignar permisos a los roles de la aplicación.</p>
        <hr>
        <p class="mb-0">NO REASIGNE LOS ROLES INICIO</p>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre de Rol</th>
                    <th colspan="@(Vistas != null ? Vistas.Count : 0)">Vistas del Rol</th>
                </tr>
                <tr>
                    <th></th>
                    @if (Vistas != null)
                    {
                        @foreach (var vista in Vistas)
                        {
                            <th>@vista.NombreVista</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item[0].Rol</td>
                        @if (Vistas != null)

                        @foreach (var vista in Vistas)
                        {
                            <td
                                style="background-color: @(item.Any(x => x.nombre_vista == vista.NombreVista && x.ruta_vista == vista.RutaVista) ? "rgb(134, 255, 166)" : "rgb(255, 133, 133)")">
                                <div class="row">
                                    <div class="col-md-10">
                                        @vista.RutaVista
                                    </div>
                                    <div class="col-md-2">
                                        <a href="javascript:void(0)"
                                            onclick="ActualizarPermisosRoles('@item[0].Rol', '@vista.IdVista', '@item[0].id_rol')">
                                            <i
                                                class="bi @(item.Any(x => x.nombre_vista == vista.NombreVista && x.ruta_vista == vista.RutaVista) ? "bi-x-circle-fill" : "bi-check-circle-fill")"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/js/Rol/Roles.js" asp-append-version="true"></script>
}