@model ALFINapp.Models.Usuario
@{

}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}
<div class="container-fluid mt-4">
    <div class="row mb-2">
        <h3>Bienvenido @Model.NombresCompletos</h3>
        <div class="alert alert-info" role="alert">
            En esta Sección podrá modificar su contraseña y otros datos.
        </div>
        <div class="form-group">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="NombresCompletosUsuario" class="form-label">Nombres Completos del Usuario</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="NombresCompletosUsuario" value="@Model.NombresCompletos"
                        readonly>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="DniUsuario" class="form-label">DNI del Usuario</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="DniUsuario" value="@Model.Dni" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <div class="alert alert-warning" id="AlertUpdateDepartamento" style="display: none;">
                    Actualizar el Departamento
                </div>
                <div class="col-md-4">
                    <label for="DepartamentoUsuario" class="form-label">Departamento</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="DepartamentoUsuario" value="@Model.Departamento"
                        readonly>
                </div>
                <div class="col-md-1">
                    <a href="javascript:void(0)" id="DepartamentoBotonEdicion" class="btn btn-primary" onclick="activarEdicion('Departamento')" style="display: block;"><i class="bi bi-pencil"></i></a>
                    <a href="javascript:void(0)" id="DepartamentoBotonEnvio" class="btn btn-success" onclick="enviarEdicion('Departamento')" style="display: none;"><i class="bi bi-check"></i></a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="alert alert-warning" id="AlertUpdateProvincia" style="display: none;">
                    Actualizar la Provincia
                </div>
                <div class="col-md-4">
                    <label for="ProvinciaUsuario" class="form-label">Provincia</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="ProvinciaUsuario" value="@Model.Provincia"
                        readonly>
                </div>
                <div class="col-md-1">
                    <a href="javascript:void(0)" id="ProvinciaBotonEdicion" class="btn btn-primary" onclick="activarEdicion('Provincia')" style="display: block;"><i class="bi bi-pencil"></i></a>
                    <a href="javascript:void(0)" id="ProvinciaBotonEnvio" class="btn btn-success" onclick="enviarEdicion('Provincia')" style="display: none;"><i class="bi bi-check"></i></a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="alert alert-warning" id="AlertUpdateDistrito" style="display: none;">
                    Actualizar el Distrito
                </div>
                <div class="col-md-4">
                    <label for="DistritoUsuario" class="form-label">Distrito</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="DistritoUsuario" value="@Model.Distrito" readonly>
                </div>
                <div class="col-md-1">
                    <a href="javascript:void(0)" id="DistritoBotonEdicion" class="btn btn-primary" onclick="activarEdicion('Distrito')" style="display: block;"><i class="bi bi-pencil"></i></a>
                    <a href="javascript:void(0)" id="DistritoBotonEnvio" class="btn btn-success" onclick="enviarEdicion('Distrito')" style="display: none;"><i class="bi bi-check"></i></a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="alert alert-warning" id="AlertUpdateTelefono" style="display: none;">
                    Actualizar el Telefono
                </div>
                <div class="col-md-4">
                    <label for="TelefonoUsuario" class="form-label">Teléfono</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="TelefonoUsuario" value="@Model.Telefono" readonly>
                </div>
                <div class="col-md-1">
                    <a href="javascript:void(0)" id="TelefonoBotonEdicion" class="btn btn-primary" onclick="activarEdicion('Telefono')" style="display: block;"><i class="bi bi-pencil"></i></a>
                    <a href="javascript:void(0)" id="TelefonoBotonEnvio" class="btn btn-success" onclick="enviarEdicion('Telefono')" style="display: none;"><i class="bi bi-check"></i></a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="ContrasenaUsuario" class="form-label">Contraseña</label>
                </div>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="ContrasenaUsuario" value="@Model.contraseña"
                        class="form-control" readonly>
                </div>

            </div>

            <div class="row mb-3" style="display: none;" id="AlertUpdatePassword">
                <div class="alert alert-warning">
                    Actualizar la contraseña
                </div>
                <div class="col-md-4">
                    <label for="ContrasenaNueva" class="form-label">Ingrese la nueva contraseña</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="ContrasenaNueva">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <a href="javascript:void(0)" onclick="updatePasswordView(@Model.IdUsuario)" class="btn btn-primary"
                        id="UpdatePasswordButtonView" style="display: block;">Actualizar Contraseña</a>
                    <a href="javascript:void(0)" onclick="updatePasswordSubmit(@Model.IdUsuario)"
                        class="btn btn-success" id="UpdatePasswordButtonSubmit" style="display: none;">Ingrese la nueva
                        Contraseña</a>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/Perfil/Perfil.js"></script>
}