@model List<VendedorConClientesDTO>

@{
    var destinoBases = ViewData["DestinoBases"] as List<string>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container-fluid mt-4">
    <div class="container-fluid mb-3">
        <h3>Seccion Asignaciones del Asesor de Creditos</h3>
        <div class="form-group mb-3">
            <label for="BaseDestino">Destino</label>
            <select class="form-control" name="BaseDestino" id="BaseDestino">
                <option value="">Seleccione una Base de Destino</option>
                @foreach (var destinoBase in destinoBases)
                {
                    @if (@destinoBase != "A365_AGREGADO_MANUALMENTE" || @destinoBase != "ALFIN_AGREGADO_MANUALMENTE_2")
                    {
                        <option value="@destinoBase">@destinoBase</option>
                    }
                }
            </select>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Vendedor</th>
                    <th>Número de clientes asignados</th>
                    <th>Asignar número de clientes</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int cont = 0;
                }
                @foreach (var vendedores in Model)
                {
                    if (vendedores.estaActivado == true)
                    {
                        <tr data-index="@cont">
                            <td>
                                <textarea class="form-control" readonly>@vendedores.NombresCompletos</textarea>
                            </td>
                            <td>
                                <input class="form-control" value="@vendedores.NumeroClientes" readonly>
                            </td>
                            <td>
                                <input name="asignacionasesor[@cont].NumClientes" type="number" class="form-control" value="0"
                                    required>
                                <input name="asignacionasesor[@cont].IdVendedor" type="text" class="form-control"
                                    value="@vendedores.IdUsuario" hidden>
                            </td>
                        </tr>
                        cont++;
                    }
                }
            </tbody>
        </table>


        <div class="form-group" id="guardarAsignacionesContainer">
            <button class="btn btn-success" type="button" onclick="EnviarDatos()">Guardar
                Asignaciones</button>
        </div>

    </div>

    <div class="row">
        <div class="spacing"></div>
        <hr>
    </div>

    <div class="container-fluid mb-3">
        <h3>Seccion Modificar Asignaciones del Asesor</h3>
        <div class="row">
            <div>
                <label for="selectAsesor" class="form-label">Seleccione un Asesor</label>
                <select class="form-select" id="selectAsesor" name="selectAsesor"
                    onchange="cargarActualizacionDeAsignacionXAsesor(this.value)">
                    <option value="">Seleccione un Asesor</option>
                    @foreach (var AsesorAsignados in Model)
                    {
                        if (AsesorAsignados.estaActivado == true)
                        {
                            <option value="@AsesorAsignados.IdUsuario">@AsesorAsignados.NombresCompletos</option>
                        }
                    }
                </select>
            </div>

            <div class="spacing"></div>

            <div id="cargarActualizacionDeAsignacionXAsesor" class="row mt-10" style="display: none;">
                <!-- Aqui se cargara la vista parcial del asesor seleccionado -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="spacing"></div>
        <hr>
    </div>

    <div class="container-fluid mb-3" id="modificarXTipificacionSeccion">
        <h3 class="label-fortip-sup"> Modificar Asignacion de Asesores Por Tipificacion
        </h3>
        <div class="row">
            <div>
                <div class="alert alert-info" role="alert">
                    En esta Seccion podra Modificar las asignaciones de los asesores por las Tipificaciones de los
                    Clientes
                </div>

                <div class="button-container mb-10">
                    <a href="javascript:void(0);" class="btn btn-success"
                        onclick="cargarAsesoresTipificacionesView()">Mostrar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="interfazTipificacionXAsesorSelect" class="row mt-10" style="display: none;">
        <!-- Aqui se cargara la vista parcial del las Tipificaciones por asesores -->
    </div>
</div>

@section Scripts {
    <script>
        function EnviarDatos() {

            const asignaciones = [];

            // Recopilar datos del formulario dinámico
            document.querySelectorAll('tbody tr').forEach((row) => {
                const index = row.getAttribute('data-index');
                const numClientesInput = row.querySelector(`input[name="asignacionasesor[${index}].NumClientes"]`);
                const idVendedorInput = row.querySelector(`input[name="asignacionasesor[${index}].IdVendedor"]`);

                // Verificar que ambos inputs existen antes de usarlos
                if (numClientesInput && idVendedorInput) {
                    const numClientes = numClientesInput.value;
                    const idVendedor = idVendedorInput.value;

                    if (numClientes > 0) { // Solo agregamos si el número de clientes es mayor a 0
                        asignaciones.push({
                            NumClientes: parseInt(numClientes, 10),
                            IdVendedor: parseInt(idVendedor, 10)
                        });
                    }
                }
            });
            const selectAsesorBase = document.getElementById('BaseDestino').value;

            // Imprimir la información completa a enviar antes de hacer el AJAX
            console.log("Información completa a enviar:", {
                asignacionasesor: asignaciones,
                selectAsesorBase: selectAsesorBase,
            });

            // Enviar los datos mediante AJAX
            $.ajax({
                url: '/Asesor/AsignarAsesoresPrincipales',
                type: 'POST',
                data: {
                    asignacionasesor: asignaciones,
                    selectAsesorBase: selectAsesorBase,
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Modificación Exitosa',
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        }).then(() => {
                            // Reset UI
                            document.getElementById('guardarAsignacionesContainer').style.display = 'block';
                            location.reload();
                        });
                    } else {
                        Swal.fire({
                            title: 'Error en la asignación',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: 'Error en la Reasignación',
                        text: 'Error en la Reasignación',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        }
    </script>
}