@model ALFINapp.Models.DetalleTipificarClienteDTO

@{
    var numerosCreadosPorElUsuario = ViewData["numerosCreadosPorElUsuario"];
    var dni = ViewData["DNIcliente"];
    var id_asignacion = ViewData["ID_asignacion"];
    var id_base = Model.IdBase;
    var id_cliente = ViewData["ID_cliente"];

}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/tipificar_page.css">
}

@functions {
    public string GetColorCode(string colorName)
    {
        return colorName.ToLower() switch
        {
            "verde" => "#008000",
            "amarillo" => "#FFFF00",
            "naranja" => "#FFA500",
            "rojo" => "#FF0000",
            "verde claro" => "#90EE90",
            "verde oscuro" => "#006400",
            "amarillo claro" => "#FFFFE0",
            "amarillo oscuro" => "#FFD700",
            "naranja claro" => "#FFDAB9",
            "naranja oscuro" => "#FF8C00",
            "rojo claro" => "#FF7F7F",
            "rojo oscuro" => "#8B0000",
            _ => "#FFFFFF"
        };
    }
}

<div class="row">
    <!-- Primera Columna -->
    <div class="col-md-6">
        <h3>Datos del Prospecto @id_asignacion</h3>
        <div class="form-group">
            <label for="DNI">DNI</label>
            <input class="form-control" id="DNI" type="text" value="@dni" readonly>
        </div>
        <div class="form-group">
            <label for="X_APPATERNO">Apellido Paterno</label>
            <input class="form-control" id="X_APPATERNO" type="text" value="@Model.XAppaterno" readonly>
        </div>
        <div class="form-group">
            <label for="X_APMATERNO">Apellido Materno</label>
            <input class="form-control" id="X_APMATERNO" type="text" value="@Model.XApmaterno" readonly>
        </div>
        <div class="form-group">
            <label for="X_NOMBRE">Nombre</label>
            <input class="form-control" id="X_NOMBRE" type="text" value="@Model.XNombre" readonly>
        </div>
        <div class="form-group">
            <label for="EDAD">Edad</label>
            <input class="form-control" id="EDAD" type="text" value="@Model.Edad" readonly>
        </div>
        <div class="form-group">
            <label for="DEPARTAMENTO">Departamento</label>
            <input class="form-control" id="DEPARTAMENTO" type="text" value="@Model.Departamento" readonly>
        </div>
        <div class="form-group">
            <label for="PROVINCIA">Provincia</label>
            <input class="form-control" id="PROVINCIA" type="text" value="@Model.Provincia" readonly>
        </div>
        <div class="form-group">
            <label for="DISTRITO">Distrito</label>
            <input class="form-control" id="DISTRITO" type="text" value="@Model.Distrito" readonly>
        </div>
        <div class="spacing"></div>
        <h3>Tendencia del Prospecto</h3>
        <div class="form-group">
            <label for="PROPENSION">Propensión</label>
            <input class="form-control" id="PROPENSION" type="text" value="@Model.Propension" readonly>
        </div>
        <div class="form-group">
            <label for="TIPO_CLIENTE">Tipo de Cliente</label>
            <input class="form-control" id="TIPO_CLIENTE" type="text" value="@Model.TipoCliente" readonly>
        </div>
        <div class="form-group">
            <label for="CLIENTE_NUEVO">Antiguedad del Cliente</label>
            <input class="form-control" id="CLIENTE_NUEVO" type="text" value="@Model.ClienteNuevo" readonly>
        </div>
        <!-- Colores -->
        <div class="form-group">
            <label for="COLOR">Color Principal</label>
            <div class="d-flex align-items-center">
                <input class="form-control ml-2" style="background-color: @GetColorCode(Model.Color); width: 10%;"
                    readonly>
                <input class="form-control ml-2" id="COLOR" type="text" value="@Model.Color" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="COLOR_FINAL">Color Final</label>
            <div class="d-flex align-items-center">
                <input class="form-control ml-2" style="background-color: @GetColorCode(Model.ColorFinal); width: 10%;"
                    readonly>
                <input class="form-control ml-2" id="COLOR_FINAL" type="text" value="@Model.ColorFinal" readonly>
            </div>
        </div>
    </div>
    <!-- Segunda Columna -->
    <div class="col-md-6">
        <h3>Detalles de la Campaña</h3>
        <input class="form-control ml-2" id="IDBASEUSUARIO" value="@Model.IdBase" hidden>
        <div class="form-group">
            <label for="CAMPAÑA">Campaña</label>
            <input class="form-control" id="CAMPAÑA" type="text" value="@Model.Campaña" readonly>
        </div>
        <div class="form-group">
            <label for="OFERTA_MAX">Oferta Máxima</label>
            <input class="form-control" id="OFERTA_MAX" type="text" value="@Model.OfertaMax" readonly>
        </div>
        <div class="form-group">
            <label for="TASA_MINIMA">Tasa Mínima</label>
            <input class="form-control" id="TASA_MINIMA" type="text" value="@Model.TasaMinima" readonly>
        </div>
        <div class="form-group">
            <label for="SUCURSAL_COMERCIAL">Sucursal Comercial</label>
            <input class="form-control" id="SUCURSAL_COMERCIAL" type="text" value="@Model.Sucursal" readonly>
        </div>
        <div class="form-group">
            <label for="PLAZO">Plazo</label>
            <input class="form-control" id="PLAZO" type="text" value="@Model.Plazo" readonly>
        </div>
        <div class="form-group">
            <label for="CUOTA">Cuota</label>
            <input class="form-control" id="CUOTA" type="text" value="@Model.Cuota" readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_TASA">Grupo Tasa</label>
            <input class="form-control" id="GRUPO_TASA" type="text" value="@Model.GrupoTasa" readonly>
        </div>
        <div class="form-group">
            <label for="GRUPO_MONTO">Grupo Monto</label>
            <input class="form-control" id="GRUPO_MONTO" type="text" value="@Model.GrupoMonto" readonly>
        </div>
        <div class="spacing"></div>

        <h4>Clickee el botón si ha culminado con el Cliente</h4>
        <div class="spacing"></div>
        <form asp-action="culminarCliente" asp-controller="User">
            <input type="hidden" name="IdAsignacion" value="@id_asignacion" />
            <button class="btn btn-warning" type="submit">Culminar</button>
        </form>
        <div class="spacing"></div>
        <p>Activar este boton culminara con las tipificaciones del Cliente y sera notificado al Supervisor.
            Esta accion no puede ser revertida</p>
    </div>
</div>

<div class="spacing"></div>


<!-- SECCION TELEFONOS AGREGADOS Por El Usuario -->

<div class="row">
    <h3 class="label-fortip">Contactos Creados por el Usuario:</h3>

    <div id="agregarTelefonoBtnCliente">
        <a href="javascript:void(0);" class="btn btn-primary" id="agregarTelefonoBtn"
            onclick="cargarEdicionDeTelefonos(@id_cliente)">Agregue un Nuevo Telefono</a>
    </div>

    <div id="cancelaragregarTelefonoBtnCliente" style="display: none;">
        <a href="javascript:void(0);" class="btn btn-secondary" id="cancelaragregarTelefonoBtn"
            onclick="descargarEdicionDeTelefonos()">Cancelar</a>
    </div>

    <!-- Aca aparecera el FORM -->
    <div id="agregarTelefonoContainer">
    </div>

    @if (numerosCreadosPorElUsuario is IEnumerable<dynamic> numCreatedByUser && numCreatedByUser.Any())
    {
        int contadorNumeros = 0;
        <form asp-action="GuardarTipificacionesNumPersonales" asp-controller="User" method="post">
            <input type="hidden" name="IdAsignacionCliente" value="@ViewData["ID_asignacion"]">
            <h3>Agregue las Tipificaciones a los clientes asignados</h3>
            @foreach (var telefonosVendedor in numCreatedByUser)
            {
                <div class="form-group row align-items-center mb-3">
                    <div class="col-12 col-md-4">
                        <label for="Telefono[@contadorNumeros]" class="form-label">Teléfono @contadorNumeros</label>
                        <input class="form-control" name="tipificaciones[@contadorNumeros].Telefono" 
                            id="Telefono_@contadorNumeros" type="text" value="@telefonosVendedor.TelefonoTipificado" readonly />
                    </div>
                    <div class="col-12 col-md-8 mt-2 mt-md-0">
                    <label for="GRUPO_MONTO" class="form-label mt-2">Tipificación Asignada @contadorNumeros: </label>
                        <select class="form-select" name="tipificaciones[@contadorNumeros].TipificacionId">
                            <option value="">Seleccione la descripción de Tipificación</option>
                            @foreach (var tipificacion in (IEnumerable<dynamic>)ViewData["Tipificaciones"])
                            {
                                <option value="@tipificacion.IdTipificacion">@tipificacion.DescripcionTipificacion</option>
                            }
                        </select>

                        <input class="form-control" id="GRUPO_MONTO" type="text"
                            value="@telefonosVendedor.DescripcionTipificacion" readonly />
                    </div>
                </div>
                contadorNumeros++; // Incrementar el contador después de cada teléfono
            }
            <div class="spacing"></div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Guardar Tipificaciones</button>
                <a href="@Url.Action("Ventas", "User")" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    }

    else
    {
        <div class="alert alert-info" role="alert">
            No tiene números de teléfonos asignados por el usuario.
        </div>
    }
</div>

<!-- SECCION TELEFONOS AGREGADOS Por LA DB -->

<div class="spacing"></div>
<form asp-action="TipificarMotivo" asp-controller="User" method="post">
    <div class="row">
        <h3 class="label-fortip">Contacto con Cliente - Y Tipificaciones Asignadas:</h3>
        @{
            int contador = 1;
            string? tipificacion1 = null;
            string? tipificacion2 = null;
            string? tipificacion3 = null;
            string? tipificacion4 = null;
            string? tipificacion5 = null;
        }

        @if (ViewData["numerosTraidosPorlaDB"] is IEnumerable<dynamic> tipificaciones)
        {
            @foreach (var tipificacion in tipificaciones)
            {
                string? telefono = tipificacion.TelefonoTipificado;
                if (telefono == @Model.Telefono1) { tipificacion1 = tipificacion.DescripcionTipificacion; }
                if (telefono == @Model.Telefono2) { tipificacion2 = tipificacion.DescripcionTipificacion; }
                if (telefono == @Model.Telefono3) { tipificacion3 = tipificacion.DescripcionTipificacion; }
                if (telefono == @Model.Telefono4) { tipificacion4 = tipificacion.DescripcionTipificacion; }
                if (telefono == @Model.Telefono5) { tipificacion5 = tipificacion.DescripcionTipificacion; }
                contador++;
            }
        }
        <input type="hidden" name="IdAsignacion" value="@ViewData["ID_asignacion"]">
        <!-- Teléfono 1 -->
        <div class="form-group row align-items-center mb-3">
            <div class="col-12 col-md-4">
                <label for="Telefono1" class="form-label">Teléfono 1</label>
                <input class="form-control" name="Telefono1" id="Telefono1" type="text" value="@Model.Telefono1"
                    readonly>
            </div>

            @if (@Model.Telefono1 != "0")
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0">
                    <select class="form-select" name="Tipificacion1">
                        <option value="">Seleccione la descripcion de Tipificacion</option>
                        @foreach (var tipificacion in (IEnumerable<dynamic>)ViewData["Tipificaciones"])
                        {
                            <option value="@tipificacion.IdTipificacion">@tipificacion.DescripcionTipificacion</option>
                        }
                    </select>

                    <label for="GRUPO_MONTO" class="form-label mt-2">Tipificacion Asignada 1: </label>
                    <input class="form-control" id="GRUPO_MONTO" type="text" value="@tipificacion1" readonly>
                </div>
            }
            else
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0" id="agregarTelefono_Telefono1">
                    <button type="button" class="btn btn-primary" onclick="editarTelefono('Telefono1')">Agregar
                        Teléfono</button>
                </div>
                <div class="col-12 col-md-8" id="botonesEdicion_Telefono1" style="display:none;">
                    <input class="form-control" name="NuevoTelefono1" id="NuevoTelefono1" type="text">
                    <a href="javascript:void(0);" class="btn btn-success"
                        onclick="guardarTelefono(@id_asignacion,'NuevoTelefono1')">Agregar</a>
                    <button type="button" class="btn btn-secondary" onclick="cancelarEdicion('Telefono1')">Cancelar</button>
                </div>
            }
        </div>

        <!-- Teléfono 2 -->
        <div class="form-group row align-items-center mb-3">
            <div class="col-12 col-md-4">
                <label for="Telefono2" class="form-label">Teléfono 2</label>
                <input class="form-control" name="Telefono2" id="Telefono2" type="text" value="@Model.Telefono2"
                    readonly>
            </div>
            @if (@Model.Telefono2 != "0")
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0">
                    <select class="form-select" name="Tipificacion2">
                        <option value="">Seleccione la descripcion de la Tipificacion</option>
                        @foreach (var tipificacion in (IEnumerable<dynamic>)ViewData["Tipificaciones"])
                        {
                            <option value="@tipificacion.IdTipificacion">@tipificacion.DescripcionTipificacion</option>
                        }
                    </select>

                    <label for="GRUPO_MONTO" class="form-label mt-2">Tipificacion Asignada 2: </label>
                    <input class="form-control" id="GRUPO_MONTO" type="text" value="@tipificacion2" readonly>
                </div>
            }
            else
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0" id="agregarTelefono_Telefono2">
                    <button type="button" class="btn btn-primary" onclick="editarTelefono('Telefono2')">Agregar
                        Teléfono</button>
                </div>

                <div class="col-12 col-md-8" id="botonesEdicion_Telefono2" style="display:none;">
                    <input class="form-control" name="NuevoTelefono2" id="NuevoTelefono2" type="text">
                    <a href="javascript:void(0);" class="btn btn-success"
                        onclick="guardarTelefono(@id_asignacion,'NuevoTelefono2')">Agregar</a>
                    <button type="button" class="btn btn-secondary" onclick="cancelarEdicion('Telefono2')">Cancelar</button>
                </div>
            }
        </div>

        <!-- Teléfono 3 -->
        <div class="form-group row align-items-center mb-3">
            <div class="col-12 col-md-4">
                <label for="Telefono3" class="form-label">Teléfono 3</label>
                <input class="form-control" name="Telefono3" id="Telefono3" type="text" value="@Model.Telefono3"
                    readonly>
            </div>

            @if (@Model.Telefono3 != "0")
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0">
                    <select class="form-select" name="Tipificacion3">
                        <option value="">Seleccione la descripcion de la Tipificacion</option>
                        @foreach (var tipificacion in (IEnumerable<dynamic>)ViewData["Tipificaciones"])
                        {
                            <option value="@tipificacion.IdTipificacion">@tipificacion.DescripcionTipificacion</option>
                        }
                    </select>
                    <label for="GRUPO_MONTO" class="form-label mt-2">Tipificacion Asignada 3: </label>
                    <input class="form-control" id="GRUPO_MONTO" type="text" value="@tipificacion3" readonly>
                </div>
            }
            else
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0" id="agregarTelefono_Telefono3">
                    <button type="button" class="btn btn-primary" onclick="editarTelefono('Telefono3')">Agregar
                        Teléfono</button>
                </div>

                <div class="col-12 col-md-8" id="botonesEdicion_Telefono3" style="display:none;">
                    <input class="form-control" name="NuevoTelefono3" id="NuevoTelefono3" type="text">
                    <a href="javascript:void(0);" class="btn btn-success"
                        onclick="guardarTelefono(@id_asignacion,'NuevoTelefono3')">Agregar</a>
                    <button type="button" class="btn btn-secondary" onclick="cancelarEdicion('Telefono3')">Cancelar</button>
                </div>
            }
        </div>

        <div class="form-group row align-items-center mb-3">
            <div class="col-12 col-md-4">
                <label for="Telefono4" class="form-label">Teléfono 4</label>
                <input class="form-control" name="Telefono4" id="Telefono4" type="text" value="@Model.Telefono4"
                    readonly>
            </div>

            @if (@Model.Telefono4 != "0")
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0">
                    <select class="form-select" name="Tipificacion4">
                        <option value="">Seleccione la descripcion de la Tipificacion</option>
                        @foreach (var tipificacion in (IEnumerable<dynamic>)ViewData["Tipificaciones"])
                        {
                            <option value="@tipificacion.IdTipificacion">@tipificacion.DescripcionTipificacion</option>
                        }
                    </select>
                    <label for="GRUPO_MONTO" class="form-label mt-2">Tipificacion Asignada 4: </label>
                    <input class="form-control" id="GRUPO_MONTO" type="text" value="@tipificacion4" readonly>
                </div>
            }
            else
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0" id="agregarTelefono_Telefono4">
                    <button type="button" class="btn btn-primary" onclick="editarTelefono('Telefono4')">Agregar
                        Teléfono</button>
                </div>

                <div class="col-12 col-md-8" id="botonesEdicion_Telefono4" style="display:none;">
                    <input class="form-control" name="NuevoTelefono4" id="NuevoTelefono4" type="text">
                    <a href="javascript:void(0);" class="btn btn-success"
                        onclick="guardarTelefono(@id_asignacion,'NuevoTelefono4')">Agregar</a>
                    <button type="button" class="btn btn-secondary" onclick="cancelarEdicion('Telefono4')">Cancelar</button>
                </div>
            }
        </div>

        <div class="form-group row align-items-center mb-3">
            <div class="col-12 col-md-4">
                <label for="Telefono5" class="form-label">Teléfono 5</label>
                <input class="form-control" name="Telefono5" id="Telefono5" type="text" value="@Model.Telefono5"
                    readonly>
            </div>

            @if (@Model.Telefono5 != "0")
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0">
                    <select class="form-select" name="Tipificacion5">
                        <option value="">Seleccione la descripcion de la Tipificacion</option>
                        @foreach (var tipificacion in (IEnumerable<dynamic>)ViewData["Tipificaciones"])
                        {
                            <option value="@tipificacion.IdTipificacion">@tipificacion.DescripcionTipificacion</option>
                        }
                    </select>
                    <label for="GRUPO_MONTO" class="form-label mt-2">Tipificacion Asignada 5: </label>
                    <input class="form-control" id="GRUPO_MONTO" type="text" value="@tipificacion5" readonly>
                </div>
            }
            else
            {
                <div class="col-12 col-md-8 mt-2 mt-md-0" id="agregarTelefono_Telefono5">
                    <button type="button" class="btn btn-primary" onclick="editarTelefono('Telefono5')">Agregar
                        Teléfono</button>
                </div>

                <div class="col-12 col-md-8" id="botonesEdicion_Telefono5" style="display:none;">
                    <input class="form-control" name="NuevoTelefono5" id="NuevoTelefono5" type="text">
                    <a href="javascript:void(0);" class="btn btn-success"
                        onclick="guardarTelefono(@id_asignacion,'NuevoTelefono5')">Agregar</a>
                    <button type="button" class="btn btn-secondary" onclick="cancelarEdicion('Telefono5')">Cancelar</button>
                </div>
            }
        </div>
    </div>

    <br>

    <div class="form-group">
        <button class="btn btn-success" type="submit">Guardar</button>
        <a href="@Url.Action("Ventas", "User")" class="btn btn-danger">Cancelar</a>
    </div>
</form>


<script>
    function editarTelefono(campo) {
        // Mostrar los botones de guardar y cancelar
        document.getElementById('botonesEdicion_' + campo).style.display = 'block';

        // Ocultar el botón de "Agregar Teléfono"
        document.getElementById('agregarTelefono_' + campo).style.display = 'none';
    }

    function cancelarEdicion(campo) {
        document.getElementById(campo).value = '0';
        document.getElementById('agregarTelefono_' + campo).style.display = 'block';
        document.getElementById('botonesEdicion_' + campo).style.display = 'none';
    }

    function guardarTelefono(idasignacion, campo) {
        const userConfirmed = confirm('Advertencia: Recuerde que solo se puede tener un maximo de 5 numeros por cliente y esta insercion llenara un campo de telefono. ¿Está seguro de continuar?');
        if (userConfirmed) {
            const valorTelefono = document.getElementById(campo).value;
            const idBase = document.getElementById('IDBASEUSUARIO').value;


            if (!valorTelefono.trim()) {
                alert('El número de teléfono no puede estar vacío.');
                return;
            }

            if (!/^\d+$/.test(valorTelefono)) {
                alert('Ingrese solo números');
                return;
            }

            if (!/^\d{9}$/.test(valorTelefono)) {
                alert('El número de teléfono debe tener exactamente 9 dígitos.');
                return;
            }

            $.ajax({
                url: '/User/AgregarTelefono',
                type: 'POST',
                data: {
                    IdAsignacion: idasignacion,
                    NuevoTelefono: valorTelefono,
                    NumTelefonoEdicion: campo
                },
                success: function (result) {
                    alert('Se ha actualizado el Numero del Cliente Recargue la Pagina para verificar los cambios');
                },
                error: function () {
                    alert('Error al agregar un nuevo numero de Telefono' + errorThrown);
                }
            });
        } else {
            alert('La acción ha sido cancelada.');
        }
    }

    function loadCulminacionCliente(id_asignacion) {
        // Validar que id_asignacion sea válido
        if (!id_asignacion) {
            alert('El ID de asignación no es válido.');
            return;
        }

        // Mostrar cuadro de confirmación al usuario
        const userConfirmed = confirm('Advertencia: Si culmina con el cliente, esta acción no se puede revertir. ¿Está seguro de continuar?');

        if (userConfirmed) {
            // Si el usuario confirma, se envía la solicitud AJAX
            $.ajax({
                url: '/User/culminarCliente',
                type: 'POST',
                data: { "IdAsignacion": id_asignacion },
                success: function (result) {
                    // Mostrar mensaje de éxito
                    alert('Se ha culminado con el cliente correctamente.');
                },
                error: function (xhr, status, error) {
                    // Manejar errores de manera más detallada
                    console.error('Error al culminar con el cliente:', error);
                    alert('Hubo un error al intentar culminar con el cliente. Por favor, inténtalo nuevamente.');
                }
            });
        } else {
            // Si el usuario cancela, muestra un mensaje opcional
            alert('La acción ha sido cancelada.');
        }
    }
</script>

<script>
    function cargarEdicionDeTelefonos(idcliente) {
        if (!idcliente) {
            alert('El ID del cliente no es valido.');
            return;
        }

        const userConfirmed = confirm('Agregar un nuevo telefono Notificara al Supervisor. ¿Está seguro de continuar?');
        if (userConfirmed) {
            $.ajax({
                url: '/User/AgregarTelefonoView',
                type: 'GET',
                data: { "idCliente": idcliente },
                success: function (response) {
                    document.getElementById('agregarTelefonoBtnCliente').style.display = 'none';
                    document.getElementById('cancelaragregarTelefonoBtnCliente').style.display = 'block';
                    document.getElementById('agregarTelefonoContainer').style.display = 'block';
                    $('#agregarTelefonoContainer').html(response);
                },
                error: function () {
                    alert('Hubo un error al cargar la vista.');
                }
            });
        }
    }

    function descargarEdicionDeTelefonos(idcliente) {
        document.getElementById('agregarTelefonoBtnCliente').style.display = 'block';
        document.getElementById('cancelaragregarTelefonoBtnCliente').style.display = 'none';
        document.getElementById('agregarTelefonoContainer').style.display = 'none';
    }
</script>
