@model IEnumerable<ALFINapp.Models.DetalleBaseClienteDTO>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
    var clientesPendientes = ViewData["ClientesPendientes"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

@{
    var idAsignaciones = new List<int>();
    var ultimaFechasTipificacion = new List<DateTime?>();
    @if (ViewData["UltimasTipificacion"] is IEnumerable<dynamic> ultimasTipificaciones)
    {
        @foreach (var ultimaTipificacion in ultimasTipificaciones)
        {
            idAsignaciones.Add(ultimaTipificacion.idAsignacion);
            ultimaFechasTipificacion.Add(ultimaTipificacion.UltimaFechaTipificacion);
        }
    }
}


<header>
    <div class="container-fluid">
        <div class="top-container">
            <div class="buttons-container">
                <a href="javascript.void(0)" onclick="cargarCuentaModificacion()"><i class="fa  fa-user-circle"></i></a>
            </div>
            <p><strong>Fecha y hora actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</p>
            <div class="buttons-container">
                <a href="javascript:void(0);" class="btn btn-success" onclick="openAddClientModal()">Agregar Cliente</a>
                <a href="@Url.Action("CerrarSesion", "User")" class="btn btn-danger">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">

    <div class="container mb-3">
        <div class="row align-items-center">
            <!-- Título -->
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <h2 class="text-center text-md-start">ASESOR DE CREDITOS - @usuarioNombre</h2>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Asignado</th>
                                <th>Gestionado</th>
                                <th>Sin Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@ViewData["TotalClientes"]</td>
                                <td>@ViewData["ClientesTipificados"]</td>
                                <td>@clientesPendientes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Campo de búsqueda -->

            <div class="col-12 col-md-6">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="searchField" class="form-label mb-2 mb-md-0 me-md-2">
                        Buscar por:
                    </label>
                    <select id="searchField" class="form-control me-md-2">
                        <option value="apellidoPaterno">Apellidos y Nombres</option>
                        <!--<option value="apellidoMaterno">Apellido Materno</option>
                        <option value="nombre">Nombre</option>-->
                        <option value="campaña">Campaña</option>
                        <option value="ofertaMax">Oferta Max</option>
                        <option value="comentarioPrincipal">Comentario Principal</option>
                        <option value="tipificacionRelevante">Tipificación más Relevante</option>
                        <option value="dni">DNI</option>
                        <option value="fechaAsignacion">Fecha de Asignacion</option>
                    </select>

                    <input type="text" class="form-control" id="searchInput" placeholder="Ingrese valor de búsqueda">

                    <!-- Campos de fecha (inicial y final), ocultos por defecto -->
                    <input type="date" class="form-control mt-2" id="startDate" style="display: none;"
                        placeholder="Fecha Inicial">
                    <input type="date" class="form-control mt-2" id="endDate" style="display: none;"
                        placeholder="Fecha Final">
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <!-- Tabla para mostrar los DetalleBases/ventas -->
        <table class="table table-bordered" id="clientesTable">
            <thead>
                <tr>
                    <th>Ver Cliente:</th>
                    <th>
                        <span>DNI</span>
                    </th>
                    <th>
                        <span>Nombres Completos</span>
                    </th>
                    <th>
                        <span>Oferta Max</span>
                    </th>
                    <th>
                        <span>Campaña</span>
                    </th>
                    <th>
                        <span>Fecha Asignacion</span>
                    </th>
                    <th>
                        <span>Comentario Principal</span>
                    </th>
                    <th>
                        <span>Tipificacion mas Relevante</span>
                    </th>
                    <th>
                        <span>Fecha de la Tipificacion</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto" onclick="sortTable('clientesTable', 2, 'string')"
                            data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto" onclick="sortTable('clientesTable', 3, 'number')"
                            data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto" onclick="sortTable('clientesTable', 4, 'string')"
                            data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto" onclick="sortTable('clientesTable', 5, 'date')"
                            data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto" onclick="sortTable('clientesTable', 7, 'string')"
                            data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto" onclick="sortTable('clientesTable', 8, 'date')"
                            data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                </tr>
                @foreach (var ClienteDTO in Model)
                {
                    var pesotipMayor = ClienteDTO.PesoTipificacionMayor;
                    var rowClass = ""; // Inicializa como cadena vacía
                    if (pesotipMayor != null)
                    {
                        rowClass = "table-success"; // Clase base para filas con tipificación

                        if (pesotipMayor > 100)
                        {
                            rowClass += " table-danger"; // Clase adicional para peso mayor a 100
                        }
                    }
                    <tr class="@rowClass">
                        <td>
                            <a href="javascript:void(0);" class="btn btn-primary"
                                onclick="loadTipificarCliente(@ClienteDTO.IdBase)">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>

                        <td>@ClienteDTO.Dni</td>
                        <td>@ClienteDTO.XAppaterno.ToUpper() @ClienteDTO.XApmaterno.ToUpper() @ClienteDTO.XNombre.ToUpper()
                        <td>@ClienteDTO.OfertaMax</td>
                        <td>@ClienteDTO.Campaña.ToUpper()</td>
                        <td>@ClienteDTO.FechaAsignacionVendedor</td>
                        <td><textarea name=""
                                id="comentarioGeneral[@ClienteDTO.IdAsignacion]">@ClienteDTO.ComentarioGeneral</textarea>
                            <a href="javascript:void(0);" class="btn btn-primary"
                                onclick="guardarComentarioGeneral(@ClienteDTO.IdAsignacion)">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                        <td>@ClienteDTO.TipificacionDeMayorPeso</td>
                        <td>@ClienteDTO.FechaTipificacionDeMayorPeso</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tipificarClienteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Tipificación del Cliente</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentTipificar">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Cliente -->
<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentAgregar">
                    <!-- Aquí se cargará el formulario de agregar cliente -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["Message"] != null)
    {
        <script>
            // Usamos el mensaje limpio
            var message = '@Html.Raw(TempData["Message"] as string)';
            console.log('Mensaje:', message);  // Imprime el mensaje exitoso en la consola
            Swal.fire({
                title: 'Mensaje',
                text: message,  // Usamos el mensaje limpio
                icon: 'info',
                confirmButtonText: 'Aceptar'
            });
        </script>
    }

    @if (TempData["MessageError"] != null)
    {
        <script>
            // Usamos el mensaje limpio de error
            var messageError = '@Html.Raw(TempData["MessageError"] as string)';
            console.log('Error:', messageError);  // Imprime el mensaje de error en la consola
            Swal.fire({
                title: 'Error',
                text: messageError,  // Usamos el mensaje limpio
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        </script>
    }

    <script src="~/js/mainfunctions.js"></script>
    <script src="~/js/commentfunctions.js"></script>
    <script src="~/js/telefonosfunctions.js"></script>
    <script src="~/js/tipificacionesfunctions.js"></script>
    <script src="~/js/tablefunctions.js"></script>
    <script src="~/js/reagregacionesfunctions.js"></script>
}
