@model IEnumerable<ALFINapp.Models.DetalleBaseClienteDTO>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

<header>
    <div class="top-container">
            <p><strong>Fecha actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</p>
            <div class="buttons-container">
                <a href="@Url.Action("AddingClient", "User")" class="btn btn-primary">Agregar Cliente</a>
                <a href="@Url.Action("CerrarSesion", "User")" class="btn btn-secondary">Cerrar Sesion</a>
            </div>
        </div>

</header>

<div class="container mt-4">

    <h2>Ventas del Usuario - @usuarioNombre</h2>
    <!-- Tabla para mostrar los DetalleBases/ventas -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tipificación</th>

                <th>DNI</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>

                <th>Oferta Max</th>
                <th>Campaña</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ClienteDTO in Model)
            {
                <tr>
                    <td><a href="@Url.Action("TipificarClienteView", "User", new { id_base = ClienteDTO.IdBase })"
                            class="btn btn-info">Ver Cliente</a></td>
                    <td>@ClienteDTO.Dni</td>
                    <td>@ClienteDTO.XAppaterno</td>
                    <td>@ClienteDTO.XApmaterno</td>
                    <td>@ClienteDTO.XNombre</td>
                    <td>@ClienteDTO.OfertaMax</td>
                    <td>@ClienteDTO.Campaña</td>
                </tr>
            }
        </tbody>
    </table>
</div>

