@model IEnumerable<ALFINapp.Models.BaseCliente>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

<div class="container mt-4">
    <div class="top-container">
        <p><strong>Fecha actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</p>
        <div class="buttons-container">
            <a href="@Url.Action("AddingClient", "User")" class="btn btn-primary">Agregar Cliente</a>
            <button class="btn btn-secondary">Cerrar Sesi칩n</button>
        </div>
    </div>
    <h2>Ventas del Usuario - @usuarioNombre</h2>
    <!-- Tabla para mostrar los clientes/ventas -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tipificaci칩n</th>
                <th>DNI</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Oferta Max</th>
                <th>Campa침a</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var BaseCliente in Model)
            {
                <tr>
                    <td><button class="btn btn-primary">Tipificaci칩n</button></td>
                    <td>@BaseCliente.Dni</td>
                    <td>@BaseCliente.XAppaterno</td>
                    <td>@BaseCliente.XApmaterno</td>
                    <td>@BaseCliente.XNombre</td>
                    <td>@BaseCliente.Edad</td>
                    <td>@BaseCliente.Departamento</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}