@model ALFINapp.Infrastructure.Persistence.Models.Usuario
@{
    var SupervisoresDisponibles = ViewData["Supervisores"] as List<ALFINapp.Infrastructure.Persistence.Models.Usuario>;
    var Roles = ViewData["Roles"] as List<ALFINapp.Infrastructure.Persistence.Models.Roles>;
}

<div class="container">
    <div class="row mb-3">
        <label for="selectEstado_EU" class="col-5 col-form-label">Estado</label>
        <div class="col-7">
            <select class="form-select" id="selectEstado_EU" onchange="mostrarFechas(this.value)">
                <option value="ACTIVO">ACTIVO</option>
                <option value="INACTIVO">INACTIVO</option>
                <option value="CAMBIO">CAMBIO DE FECHAS</option>
            </select>
        </div>
    </div>

    <div id="divFechas_EU" style="display: none;">
        <div class="row mb-3">
            <label for="viewFechaInicio_EU" class="col-6 col-form-label">Fecha Inicio</label>
            <label for="viewFechaCese_EU" class="col-6 col-form-label">Fecha Cese</label>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <input type="text" class="form-control" id="viewFechaInicio_EU" value="@Model.FechaInicio" readonly/>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" id="viewFechaCese_EU" value="@Model.FechaCese" readonly/>
            </div>
        </div>
    </div>

    <div class="alert alert-success" role="alert" id="alertaFecha" style="display: none;">
        <p>Si desea cambiar el estado de un usuario, puede llenar la fecha correspondiente. Por defecto <strong>no</strong> se enviara ninguna <strong>Fecha</strong>
        </p>
    </div>

    <div id="divFechaInicio_EU" style="display: none;">
        <div class="row mb-3">
            <label for="dateFechaInicio_EU" class="col-5 col-form-label">Fecha Inicio</label>
            <div class="col-7">
                <input type="date" class="form-control" id="dateFechaInicio_EU" />
            </div>
        </div>
    </div>

    <div id="divFechaCese_EU" style="display: none;">
        <div class="row mb-3">
            <label for="dateFechaCese_EU" class="col-5 col-form-label">Fecha Cese</label>
            <div class="col-7">
                <input type="date" class="form-control" id="dateFechaCese_EU" />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="txtDNI_EU" class="col-5 col-form-label">DNI</label>
        <div class="col-7">
            <input type="text" class="form-control" id="txtDNI_EU" value="@Model.Dni" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtNombreCompleto_EU" class="col-5 col-form-label">Nombre Completo</label>
        <div class="col-7">
            <input type="text" class="form-control" id="txtNombreCompleto_EU" value="@Model.NombresCompletos" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtRegion_EU" class="col-5 col-form-label">Región</label>
        <div class="col-7">
            <input type="text" class="form-control" id="txtRegion_EU" value="@Model.REGION" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtNombreCampania_EU" class="col-5 col-form-label">Nombre Campaña</label>
        <div class="col-7">
            <input type="text" class="form-control" id="txtNombreCampania_EU" value="@Model.NOMBRECAMPANIA" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtCorreo_EU" class="col-5 col-form-label">Correo Electronico</label>
        <div class="col-7">
            <input type="text" class="form-control" id="txtCorreo_EU" value="@Model.Correo" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtRol_EU" class="col-5 col-form-label">Rol</label>
        <div class="col-7">
            <select name="txtRol_EU" onchange="mostrarSupervisor(this.value)" class="form-select" id="txtRol_EU">
                <option value="@Model.IdRol">@Model.Rol</option>
                @if (Roles != null)
                {
                    foreach (var rol in Roles)
                    {
                        if (rol.IdRol != Model.IdRol)
                        {
                            <option value="@rol.IdRol">@rol.Rol</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    @if (Model.IdRol == 3)
    {
        <div id="divSupervisor_EU" style="display: block;">
            <div class="row mb-3">
                <label for="txtSupervisor_EU" class="col-5 col-form-label">Supervisor</label>
                <div class="col-7 col-form-label">
                    <select class="form-select" id="txtSupervisor_EU">
                        <option value="@Model.IdUsuario"> @Model.RESPONSABLESUP </option>
                        @if (SupervisoresDisponibles != null)
                        {
                            foreach (var supervisor in SupervisoresDisponibles)
                            {
                                if (supervisor.Estado == "ACTIVO" && supervisor.NombresCompletos != Model.NombresCompletos)
                                {
                                    <option value="@supervisor.IdUsuario">@supervisor.NombresCompletos</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="divSupervisor_EU" style="display: none;">
            <div class="row mb-3">
                <label for="txtSupervisor_EU" class="col-5 col-form-label">Supervisor</label>
                <div class="col-7 col-form-label">
                    <select class="form-select" id="txtSupervisor_EU">
                        @if (SupervisoresDisponibles != null)
                        {
                            foreach (var supervisor in SupervisoresDisponibles)
                            {
                                if (supervisor.Estado == "ACTIVO" && supervisor.IdRol != Model.IdUsuario)
                                {
                                    <option value="@supervisor.IdUsuario">@supervisor.NombresCompletos</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    }

    <button type="button" class="btn btn-primary" onclick="cambiarDatos(@Model.IdUsuario)">Modificar</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
</div>

@section Scripts {
    <script src="~/js/Usuarios/ModificarUsuario.js?v=@DateTime.Now.Ticks"></script>
}