@model List<ALFINapp.Models.GestionDetalleDTO>
@{
}

<div class="table-responsive" id="tablaDerivacionesSistema">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Estado de la Derivacion</th>
                <th>DNI Cliente</th>
                <th>Telefono</th>
                <th>DNI Asesor</th>
                <th>Origen del Telefono</th>
                <th>Fecha de Derivacion</th>
                <th>Posible Desembolso</th>
                <th>Fecha Desembolso</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var derivacionAsesor in Model)
                {
                    <tr>
                        @if (derivacionAsesor.FueProcesadaLaDerivacion == true)
                        {
                            <td><span class="badge bg-primary">@derivacionAsesor.EstadoDerivacion</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-secondary">@derivacionAsesor.EstadoDerivacion</span></td>
                        }
                        <td>@derivacionAsesor.DocCliente</td>
                        <td>@derivacionAsesor.Telefono</td>
                        <td>@derivacionAsesor.DocAsesor</td>
                        <td><span class="badge bg-warning">@derivacionAsesor.OrigenTelefono</span></td>
                        <td>@derivacionAsesor.FechaEnvio</td>
                        
                        <td>@derivacionAsesor.EstadoDesembolso</td>
                        <td>@derivacionAsesor.FechaDesembolso</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>