@{
    var DerivacionesAsesores = ViewData["Derivaciones"] as List<GestionDetalleDTO>;
}

<div class="container mt-4">
    <div class="form-group mb-3">
        <label for="numeroClientesDerivacion">Numero de Clientes</label>
        <input type="text" class="form-control" id="numeroClientesDerivacion" name="numeroClientesDerivacion"
            value="@(DerivacionesAsesores != null ? DerivacionesAsesores.Count : 0)" readonly>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>DNI Cliente</th>
                <th>Telefono</th>
                <th>DNI Asesor</th>
                <th>Origen</th>
            </tr>
        </thead>
        <tbody>
            @if (DerivacionesAsesores != null)
            {
                foreach (var derivacionAsesor in DerivacionesAsesores)
                {
                    <tr>
                        <td>@derivacionAsesor.DocCliente</td>
                        <td>@derivacionAsesor.Telefono</td>
                        <td>@derivacionAsesor.DocAsesor</td>
                        <td><span class="badge bg-success">@derivacionAsesor.OrigenTelefono</span></td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>