@model List<ALFINapp.Infrastructure.Persistence.Models.GestionDetalleDTO>
@{
}
<div class="table-responsive" id="tablaDerivacionesGestion">
    <table class="table table-bordered" id="tabla-derivaciones-gestion">
        <thead>
            <tr>
                <th>Estado de la Derivacion</th>
                <th>DNI Cliente</th>
                <th>Telefono</th>
                <th>Origen del Telefono</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var derivacionAsesor in Model)
                {
                    <tr>
                        @if (derivacionAsesor.FueProcesadaLaDerivacion == true)
                        {
                            <td><span class="badge bg-primary">@derivacionAsesor.EstadoDerivacion</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-secondary">@derivacionAsesor.EstadoDerivacion</span></td>
                        }
                        <td>@derivacionAsesor.DocCliente</td>
                        <td>@derivacionAsesor.Telefono</td>
                        <td><span class="badge bg-warning">@derivacionAsesor.OrigenTelefono</span></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>