@model List<ALFINapp.Models.GestionDetalleDTO>

@{
    var Asesores = ViewData["Asesores"] as List<Usuario>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container-fluid mt-4">
    <div class="container">
        <h3> Derivaciones de sus Asesores </h3>

        <div class="alert alert-info" role="alert">
            <span> En esta seccion puede ver las Derivaciones de sus asesores </span>
        </div>

        <label for="IdAsesoresDerivacion">Asesor</label>
        <select class="form-select" name="IdAsesoresDerivacion" id="IdAsesoresDerivacion"
            onchange="cargarDerivacionesXAsesor(this.value)">
            <option value="">Seleccione un Asesor</option>
            @if (Asesores != null)
            {
                foreach (var asesor in Asesores)
                {
                    if (asesor.Estado == "ACTIVO")
                    {
                        <option value="@asesor.Dni">@asesor.Dni - @asesor.NombresCompletos</option>
                    }
                    else if (asesor.Estado == "INACTIVO")
                    {
                        <option style="background-color: rgb(255, 93, 93);" value="@asesor.Dni">@asesor.Dni - @asesor.NombresCompletos <i class="fa fa-circle-exclamation"></i> <span> -- Asesor DESACTIVADO</span></option>
                    }
                }
            }
        </select>
    </div>

    <div class="container" id="DerivacionXAsesor" style="display: none;">
    </div>

    <div class="container mt-4" id="DerivacionesSupervisorGeneral" style="display: block;">
        <div class="form-group mb-3">
            <label for="numeroClientesDerivacion">Numero de Clientes</label>
            <input type="text" class="form-control" id="numeroClientesDerivacion" name="numeroClientesDerivacion"
                value="@Model.Count" readonly>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DNI Cliente</th>
                        <th>Telefono</th>
                        <th>DNI Asesor</th>
                        <th>Origen del Telefono</th>
                        <th>Fecha de Derivacion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var derivacionAsesor in Model)
                        {
                            <tr>
                                <td>@derivacionAsesor.DocCliente</td>
                                <td>@derivacionAsesor.Telefono</td>
                                <td>@derivacionAsesor.DocAsesor</td>
                                <td><span class="badge bg-success">@derivacionAsesor.OrigenTelefono</span></td>
                                <td>@derivacionAsesor.FechaEnvio</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Derivacion/Derivacion.js"></script>
}