@model ALFINapp.API.Models.ViewDerivacionesVistaGeneral

@{
    var Asesores = Model.Asesores;
    var RolActual = Model.RolUsuario;
    var Dni = Model.DniUsuario;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/site.css">
}

<div class="container-fluid mt-4">
    <div class="container">

        @if (RolActual == 3)
        {
            <h3> Derivaciones del Asesor de Creditos</h3>
            <div class="alert alert-info" role="alert">
                <span> En esta seccion puede ver sus Derivaciones del mes. Para ver sus Derivaciones durante todo el tiempo
                    puede ingresar a Derivaciones de Gestion </span>
            </div>
        }
        else if (RolActual == 2)
        {
            <h3> Derivaciones de sus Asesores </h3>
            <div class="alert alert-info" role="alert">
                <span> En esta seccion puede ver las Derivaciones de sus asesores de Creditos asignados a Usted </span>
            </div>
        }
        else
        {
            <h3> Derivaciones de Administrador y Jefes de Zona </h3>
            <div class="alert alert-info" role="alert">
                <span> En esta seccion puede ver las Derivaciones de todos los asesores de Creditos </span>
            </div>
        }
        <div class="row">
            @if (RolActual == 4 || RolActual == 1)
            {
                <div class="col">
                    <label for="select-option-supervisor-derivacion">Supervisor</label>
                    <input type="text" name="select-option-supervisor-derivacion" id="select-option-supervisor-derivacion"
                        style="display: none;">
                    <div class="custom-select">
                        <div class="custom-selected-option" id="selected-option-supervisor-derivacion"
                            onclick="show_options_refac('selected-options-select-supervisor-derivacion')">
                            Seleccione un Supervisor
                        </div>
                        <div class="custom-options" id="selected-options-select-supervisor-derivacion">
                            <input type="text" class="custom-search" id="busqueda-supervisor-derivacion"
                                onkeyup="filter_option_refac('busqueda-supervisor-derivacion', 'selected-options-select-supervisor-derivacion')"
                                placeholder="Buscar...">
                            @if (Model.Supervisores != null)
                            {
                                <div class="custom-option" id="option-non-supervisor-select-derivacion" data-value="non"
                                    onclick="select_option_refac(
                                                'select-option-supervisor-derivacion'
                                                , 'selected-option-supervisor-derivacion'
                                                , 'selected-options-select-supervisor-derivacion'
                                                , ''
                                                , 'Seleccione un Supervisor'
                                                , () => cargar_asesores_del_supervisor(
                                                    'supervisores-vendedores-data'
                                                    , 'all-vendedores-data'
                                                    , 'selected-options-select-asesores-derivacion'
                                                    , 0))">
                                    SIN FILTRO
                                </div>
                                foreach (var supervisor in Model.Supervisores)
                                {
                                    if (supervisor.Estado == "ACTIVO")
                                    {
                                        <div class="custom-option" id="option-@(supervisor.Dni)-select-derivacion"
                                            data-value="@supervisor.Dni" onclick="select_option_refac(
                                                                                'select-option-supervisor-derivacion'
                                                                                , 'selected-option-supervisor-derivacion'
                                                                                , 'selected-options-select-supervisor-derivacion'
                                                                                , '@supervisor.IdUsuario'
                                                                                , '@supervisor.Dni - @supervisor.NombresCompletos'
                                                                                , () => cargar_asesores_del_supervisor(
                                                                                    'supervisores-vendedores-data'
                                                                                    , 'all-vendedores-data'
                                                                                    , 'selected-options-select-asesores-derivacion'
                                                                                    , @supervisor.IdUsuario))">
                                            @supervisor.Dni - @supervisor.NombresCompletos
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            @if (RolActual != 3)
            {
                <div class="col">
                    <label for="select-option-asesor-derivacion">Asesor</label>
                    <input type="text" name="select-option-asesor-derivacion" id="select-option-asesor-derivacion"
                        style="display: none;" oninput="cargarDerivacionesXAsesorSistema(this.value)">
                    <div class="custom-select">
                        <div class="custom-selected-option" id="selected-option-asesor-derivacion"
                            onclick="show_options_refac('selected-options-select-asesores-derivacion')">
                            Seleccione un Asesor
                        </div>
                        <div class="custom-options" id="selected-options-select-asesores-derivacion">
                            <input type="text" class="custom-search" id="busqueda-asesor-derivacion"
                                onkeyup="filter_option_refac('busqueda-asesor-derivacion', 'selected-options-select-asesores-derivacion')"
                                placeholder="Buscar...">
                            @if (Model.Asesores != null)
                            {
                                <div class="custom-option" id="option-non-select-derivacion" data-value="non-select" onclick="select_option_refac(
                                                        'select-option-asesor-derivacion'
                                                        , 'selected-option-asesor-derivacion'
                                                        , 'selected-options-select-asesores-derivacion'
                                                        , ''
                                                        , 'Seleccione un Asesor'
                                                        , () => cargarDerivacionesXAsesorSistema(''))">
                                    SIN FILTRO
                                </div>
                                foreach (var asesor in Model.Asesores)
                                {

                                    if (asesor.Estado == "ACTIVO")
                                    {
                                        <div class="custom-option" id="option-@(asesor.Dni)-select-derivacion" data-value="@asesor.Dni"
                                            onclick="select_option_refac(
                                                                                'select-option-asesor-derivacion'
                                                                                , 'selected-option-asesor-derivacion'
                                                                                , 'selected-options-select-asesores-derivacion'
                                                                                , '@asesor.Dni'
                                                                                , '@asesor.Dni - @asesor.NombresCompletos'
                                                                                , () => cargarDerivacionesXAsesorSistema('@asesor.Dni'))">
                                            @asesor.Dni - @asesor.NombresCompletos
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label for="IdAsesoresDerivacion">Buscar Por:</label>
                        <select name="cargaTipoFiltro" class="form-control" id="cargaTipoFiltro"
                            onchange="cargarTipoFiltro(this.value)">
                            <option value=""> Seleccione una opcion </option>
                            <option value="dni"> DNI del cliente</option>
                            <option value="fecha"> Fecha de derivacion </option>
                        </select>
                    </div>
                    <div class="col" style="display: none;" id="filtrosTabla">
                        <label for=""></label>
                        <input type="text" class="form-control" id="filtroDNI" style="display: none;"
                            oninput="filtrarTabla('tablaGeneralSistema', this.value, 1, 'text')">
                        <input type="date" class="form-control" id="filtroFecha" style="display: none;"
                            oninput="filtrarTabla('tablaGeneralSistema', this.value, 5, 'date')">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4" id="DerivacionesSupervisorGeneral" style="display: block;">
        @if (RolActual == 3)
        {
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de vista">
                    <a href="javascript:void(0);" type="button" class="btn btn-primary" id="btnTablaSistema"
                        onclick="cargarDerivacionesSistema()">
                        <i class="fas fa-table"></i> Derivaciones Sistema
                    </a>
                </div>

                <div class="btn-group">
                    <a href="javascript:void(0)" class="me-2" onclick="activatePagination(-1)"><i
                            class="bi bi-arrow-left-circle"></i></a>
                    <a href="javascript:void(0)" id="page-indicator" class="me-2"> Página 1 </a>
                    <a href="javascript:void(0)" class="me-2" onclick="activatePagination(1)"><i
                            class="bi bi-arrow-right-circle"></i></a>
                </div>

                <div class="badge bg-primary text-wrap" style="width: 6rem;">
                    <span id="informationTabla">Total del Mes: @Model.Derivaciones.Count</span>
                </div>
                <div class="badge bg-info text-wrap" style="width: 6rem;">
                    <span id="total-actual">Total: @Model.Derivaciones.Count</span>
                </div>
            </div>
        }
        @if (RolActual == 2 || RolActual == 1 || RolActual == 4)
        {
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de vista">
                    <a href="javascript:void(0);" type="button" class="btn btn-primary" id="btnTablaSistema"
                        onclick="cargarDerivacionesSistemaSupervisor('IdAsesoresDerivacion', '@Dni')">
                        <i class="fas fa-table"></i> Derivaciones Sistema
                    </a>
                </div>

                <div class="btn-group">
                    <a href="javascript:void(0)" class="me-2" onclick="activatePagination(-1)"><i
                            class="bi bi-arrow-left-circle"></i></a>
                    <a href="javascript:void(0)" id="page-indicator" class="me-2"> Página 1 </a>
                    <a href="javascript:void(0)" onclick="activatePagination(1)" class="me-2"><i
                            class="bi bi-arrow-right-circle"></i></a>
                </div>

                <div class="badge bg-primary text-wrap" style="width: 6rem;">
                    <span id="informationTabla">Total del Mes: @Model.Derivaciones.Count</span>
                </div>
                <div class="badge bg-info text-wrap" style="width: 6rem;">
                    <span id="total-actual">Total: @Model.Derivaciones.Count</span>
                </div>
            </div>
        }

        <div id="tablaDerivacionesGestion" loadedfield="false" style="display: none;">
        </div>
        <div id="tablaGeneralGestion" loadedfield="false" style="display: none;">
        </div>

        <div class="table-responsive" id="tablaGeneralSistema" loadedfield="true" style="display: block;">
            <table class="table table-bordered" id="derivacionesTable">
                <thead>
                    <!-- Encabezados originales -->
                    <tr>
                        <th>Estado de la Derivación</th>
                        <th>DNI Cliente</th>
                        <th>Nombres del Cliente</th>
                        <th>Teléfono</th>
                        <th>DNI Asesor</th>
                        <th>Fecha de Derivación</th>
                        <th>Oferta</th>
                        <th>Agencia</th>
                        <th>Fecha Visita</th>
                        <th style="background-color: white;
                        border-left: 1px solid #2980b9; 
                        border-top: 1px solid white;
                        border-bottom: 1px solid white;"></th>

                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-warning p-0 mt-auto"
                                onclick="sortTableDerivaciones('derivacionesTable', 5, 'date')" data-sort-ignore>
                                &#x25BC;
                            </button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @if (Model.Derivaciones != null)
                    {
                        foreach (var derivacionAsesor in Model.Derivaciones)
                        {
                            <tr>
                                @if (derivacionAsesor.FueProcesado == true)
                                {
                                    <td>
                                        <span class="badge bg-success"
                                            style="word-wrap: break-word; overflow-wrap: break-word;">@derivacionAsesor.EstadoDerivacion</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="badge bg-danger"
                                            style="word-wrap: break-word; overflow-wrap: break-word;">@derivacionAsesor.EstadoDerivacion</span>
                                    </td>
                                }
                                <td>@derivacionAsesor.DniCliente</td>
                                <td>@derivacionAsesor.NombreCliente</td>
                                <td>@derivacionAsesor.TelefonoCliente</td>
                                <td>@derivacionAsesor.DniAsesor</td>
                                <td>@derivacionAsesor.FechaDerivacion</td>
                                <td>@derivacionAsesor.OfertaMax</td>
                                <td>@derivacionAsesor.NombreAgencia</td>
                                <td>@derivacionAsesor.FechaVisita.ToString("yyyy-MM-dd")</td>
                                <td
                                    style="background-color: white; border-left: 1px solid #2980b9; border-top: 1px solid white; border-bottom: 1px solid white;">
                                </td>
                                <td>
                                    @if (RolActual == 3)
                                    {
                                        <a href="javascript:void(0)"
                                            onclick=""
                                            class="btn btn-secondary" style="width: auto;" title="Reagendar este cliente">
                                            <i class="bi bi-clipboard2-plus"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        @if (derivacionAsesor.PuedeSerReagendado)
                                        {
                                            <a href="javascript:void(0)"
                                                onclick="reagendarView(@derivacionAsesor.IdDerivacion, '@derivacionAsesor.PuedeSerReagendado')"
                                                class="btn btn-primary" style="width: auto;" title="Reagendar este cliente">
                                                <i class="bi bi-clipboard2-plus"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)"
                                                onclick=""
                                                class="btn btn-secondary" style="width: auto;" title="Reagendar este cliente">
                                                <i class="bi bi-clipboard2-plus"></i>
                                            </a>
                                        }
                                    }
                                    @* <a href="javascript:void(0)"
                                        onclick="reagendarView(@derivacionAsesor.IdDerivacion, 'False')"
                                        class="btn btn-secondary" style="width: auto;" title="En Construccion">
                                        <i class="bi bi-minecart-loaded"></i>
                                    </a> *@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="GeneralTemplateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true"
    data-bs-focus="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="GeneralTemplateTitleModalLabel"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentGeneralTemplate">
                    @*Aca cargara el contenido del Modal*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="supervisores-vendedores-data" data-json='@Html.Raw(Json.Serialize(Model.Supervisores))'></div>
<div id="all-vendedores-data" data-json='@Html.Raw(Json.Serialize(Model.Asesores))'></div>
@section Scripts {
    <script src="~/js/Derivacion/Derivacion.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Derivacion/Reagendamiento.js?v=@DateTime.Now.Ticks"></script>
}
