@model List<ALFINapp.Models.GestionDetalleDTO>

@{
    var Asesores = ViewData["Asesores"] as List<Usuario>;
    var RolActual = ViewData["RolUsuario"] as int?;
    var Dni = ViewData["DniUsuario"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container-fluid mt-4">
    <div class="container">

        @if (RolActual == 3)
        {
            <h3> Derivaciones del Asesor de Creditos</h3>
            <div class="alert alert-info" role="alert">
                <span> En esta seccion puede ver sus Derivaciones del mes. Para ver sus Derivaciones durante todo el tiempo puede ingresar a Derivaciones de Gestion </span>
            </div>
        }
        else if (RolActual == 2)
        {
            <h3> Derivaciones de sus Asesores </h3>
            <div class="alert alert-info" role="alert">
                <span> En esta seccion puede ver las Derivaciones de sus asesores de Creditos asignados a Usted </span>
            </div>
        }
        else
        {
            <h3> Derivaciones de Administrador y Jefes de Zona </h3>
            <div class="alert alert-info" role="alert">
                <span> En esta seccion puede ver las Derivaciones de todos los asesores de Creditos </span>
            </div>
        }

        @if (RolActual != 3)
        {
            <label for="IdAsesoresDerivacion">Asesor</label>
            <select class="form-select" name="IdAsesoresDerivacion" id="IdAsesoresDerivacion"
                onchange="cargarDerivacionesXAsesor(this.value)">
                <option value="">Seleccione un Asesor</option>
                @if (Asesores != null)
                {
                    foreach (var asesor in Asesores)
                    {
                        if (asesor.Estado == "ACTIVO")
                        {
                            <option value="@asesor.Dni">@asesor.Dni - @asesor.NombresCompletos</option>
                        }
                        else if (asesor.Estado == "INACTIVO")
                        {
                            <option style="background-color: rgb(255, 93, 93);" value="@asesor.Dni">@asesor.Dni -
                                @asesor.NombresCompletos <i class="fa fa-circle-exclamation"></i> <span> -- Asesor DESACTIVADO</span>
                            </option>
                        }
                    }
                }
            </select>
        }
    </div>

    <div class="container" id="DerivacionXAsesor" style="display: none;">
    </div>

    <div class="container mt-4" id="DerivacionesSupervisorGeneral" style="display: block;">
        <div class="form-group mb-3">
            <label for="numeroClientesDerivacion">Numero de Clientes Derivados</label>
            <input type="text" class="form-control" id="numeroClientesDerivacion" name="numeroClientesDerivacion"
                value="@Model.Count" readonly>
        </div>

        @if (RolActual == 3)
        {
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de vista">
                    <a href="@Url.Action("Derivacion", "Derivacion")" 
                        type="button" class="btn btn-primary active" 
                        id="btnTablaSistema">
                        <i class="fas fa-table"></i> Derivaciones Sistema
                    </a>
                    <a href="javascript:void(0);" type="button" class="btn btn-primary" 
                        id="btnTablaGestion"
                        onclick="cargarDerivacionesGestion(@Dni)">
                        <i class="fas fa-table"></i> Derivaciones Gestión
                    </a>
                </div>
                <div class="badge bg-info text-wrap" style="width: 6rem;">
                    <span id="informationTabla">Total: </span>
                </div>
            </div>
        }

        <div id="tablaDerivacionesGestion">
        </div>

        <div class="table-responsive" id="tablaDerivacionesSistema">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Estado de la Derivacion</th>
                        <th>DNI Cliente</th>
                        <th>Nombres del Cliente</th>
                        <th>Telefono</th>
                        <th>DNI Asesor</th>
                        <th>Origen del Telefono</th>
                        <th>Fecha de Derivacion</th>
                        <th>Estado del Desembolso</th>
                        <th>Fecha del Desembolso</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var derivacionAsesor in Model)
                        {
                            <tr>
                                @if (derivacionAsesor.FueProcesadaLaDerivacion == true)
                                {
                                    <td><span class="badge bg-success">@derivacionAsesor.EstadoDerivacion</span></td>
                                }
                                else
                                {
                                    <td><span class="badge bg-error">@derivacionAsesor.EstadoDerivacion</span></td>
                                }
                                <td>@derivacionAsesor.DocCliente</td>
                                <td>@derivacionAsesor.NombreCompletoCliente</td>
                                <td>@derivacionAsesor.Telefono</td>
                                <td>@derivacionAsesor.DocAsesor</td>
                                <td><span class="badge bg-warning">@derivacionAsesor.OrigenTelefono</span></td>
                                <td>@derivacionAsesor.FechaEnvio</td>
                                @if (derivacionAsesor.FueDesembolsado == true)
                                {
                                    <td><span class="badge bg-success">@derivacionAsesor.EstadoDesembolso</span></td>
                                }
                                else
                                {
                                    <td><span class="badge bg-info">@derivacionAsesor.EstadoDesembolso</span></td>
                                }
                                <td>@derivacionAsesor.FechaDesembolso</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Derivacion/Derivacion.js"></script>
}