@model ALFINapp.Infrastructure.Persistence.Models.UsuarioAsesorDTO

<div class="label-for-sup-sec">
    <div class="row">
        <div class="col">
            <h3 class="d-inline-block"> Seccion Mover Clientes Asignados a otros Asesores </h3>
        </div>
        <div class="col-auto">
            <button type="button" class="btn-close" aria-label="Close"
                onclick="cerrarInterfazAsesor()"
                style="filter: invert(1) brightness(2); background-color: transparent; border: none; "
                onmouseover="this.style.filter='invert(1) brightness(2.5)';" 
                onmouseout="this.style.filter='invert(1) brightness(2)';">
            </button>
        </div>    
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="totalClientesAsignados" class="form-label">Total Clientes Asignados</label>
            <input type="number" class="form-control" id="totalClientesAsignados" name="totalClientesAsignados"
                value="@Model.TotalClientesAsignados" readonly>
        </div>
        <div class="mb-3">
            <label for="clientesTrabajando" class="form-label">Clientes Trabajando</label>
            <input type="number" class="form-control" id="clientesTrabajando" name="clientesTrabajando"
                value="@Model.ClientesTrabajando" readonly>
        </div>
        <div class="mb-3">
            <label for="clientesSinTrabajar" class="form-label">Clientes Sin Trabajar</label>
            <input type="number" class="form-control" id="clientesSinTrabajar" name="clientesSinTrabajar"
                value="@Model.ClientesSinTrabajar" readonly>
        </div>
    </div>

    <div class="col-md-6">
        <div id="seccionModificarAsignaciones_@Model.IdUsuario" style="display: none;">

        </div>
    </div>
    <div class="button-container mb-10">
        <a href="javascript:void(0);" class="btn btn-primary"
            onclick="modificarAsignacionesAsesor('@Model.IdUsuario', '@Model.Dni')">
            Modificar Asignaciones
        </a>
        <a href="javascript:void(0);" class="btn btn-secondary" onclick="cerrarInterfazAsesor()">
            Cancelar Re-Asignacion
        </a>
    </div>
</div>
<div class="spacing"></div>
