@model IEnumerable<VendedorConClientesDTO>

@{
    var BasesAsignadas = ViewData["BasesAsignadas"] as IEnumerable<dynamic>;
}

<div class="container-fluid">
    <div class="container-fluid">
        <form asp-action="GuardarAsesoresAsignados" asp-controller="Supervisor" method="post">
            <div class="mb-3">
                <label for="asignarAsesorBase" class="form-label">Seleccione una Base</label>
                <select class="form-select" name="selectAsesorBase" id="selectAsesorBase">
                    @foreach (var BasesCreadas in BasesAsignadas)
                    {
                        <option value="@BasesCreadas.FuenteBase">@BasesCreadas.FuenteBase</option>
                    }
                </select>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Vendedor</th>
                        <th>Número de clientes asignados</th>
                        <th>Asignar número de clientes</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int cont = 0;
                    }
                    @foreach (var vendedores in Model)
                    {
                        <tr>
                            <td>
                                <textarea class="form-control" readonly>@vendedores.NombresCompletos</textarea>
                            </td>
                            <td>
                                <input class="form-control" value="@vendedores.NumeroClientes" readonly>
                            </td>
                            <td>
                                <input name="asignacionasesor[@cont].NumClientes" type="number" class="form-control" value="0"
                                    required>
                                <input name="asignacionasesor[@cont].IdVendedor" type="text" class="form-control" value="@vendedores.IdUsuario"
                                    hidden>
                            </td>
                        </tr>
                        cont++;
                    }
                </tbody>
            </table>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Guardar Asignaciones</button>
            </div>
        </form>
    </div>
</div>
