@model List<ALFINapp.Models.UsuarioAsesorDTO>

@{
    var asesoresConClientes = ViewData["asesoresConClientes"] as List<dynamic>;
    int contador = 0;
}

<div class="row">
    @foreach (var AsesorAsignados in Model)
    {
        <div class="row mt-10">
            <div class="col-md-6">
                <h3>@AsesorAsignados.NombresCompletos</h3>
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni" name="dni" value="@AsesorAsignados.Dni" required
                        readonly>
                </div>
                <div class="mb-3">
                    <label for="rol" class="form-label">Rol</label>
                    <input type="text" class="form-control" id="rol" name="rol" value="@AsesorAsignados.Rol" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="departamento" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="departamento" name="departamento"
                        value="@AsesorAsignados.Departamento" readonly>
                </div>
                <div class="mb-3">
                    <label for="provincia" class="form-label">Provincia</label>
                    <input type="text" class="form-control" id="provincia" name="provincia"
                        value="@AsesorAsignados.Provincia" readonly>
                </div>
                <div class="mb-3">
                    <label for="distrito" class="form-label">Distrito</label>
                    <input type="text" class="form-control" id="distrito" name="distrito" value="@AsesorAsignados.Distrito"
                        readonly>
                </div>
            </div>
        </div>
        @if (AsesorAsignados.Estado == "ACTIVO")
        {
            <div class="button-container mb-10">
                <a href="javascript:void(0);" class="btn btn-danger"
                    onclick="desactivarAsesor('@AsesorAsignados.Dni', @AsesorAsignados.IdUsuario)">
                    Desactivar
                </a>
            </div>
        }
        else
        {
            <div class="button-container mb-10">
                <a href="javascript:void(0);" class="btn btn-success bm-10"
                    onclick="activarAsesor('@AsesorAsignados.Dni', @AsesorAsignados.IdUsuario)">
                    Activar
                </a>
            </div>
        }

        <div class="spacing"> </div>

        <div class="row mt-10">
            <h3>Seccion Mover Clientes Asignados a otros Asesores</h3>
            <div class="alert alert-info" role="alert">
                En esta Seccion podra modificar las asignaciones de cada uno de los Clientes a Asesores
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="totalClientesAsignados" class="form-label">Total Clientes Asignados</label>
                    <input type="number" class="form-control" id="totalClientesAsignados" name="totalClientesAsignados"
                        value="@AsesorAsignados.TotalClientesAsignados" readonly>
                </div>
                <div class="mb-3">
                    <label for="clientesTrabajando" class="form-label">Clientes Trabajando</label>
                    <input type="number" class="form-control" id="clientesTrabajando" name="clientesTrabajando"
                        value="@AsesorAsignados.ClientesTrabajando" readonly>
                </div>
                <div class="mb-3">
                    <label for="clientesSinTrabajar" class="form-label">Clientes Sin Trabajar</label>
                    <input type="number" class="form-control" id="clientesSinTrabajar" name="clientesSinTrabajar"
                        value="@AsesorAsignados.ClientesSinTrabajar" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div id="seccionModificarAsignaciones_@AsesorAsignados.IdUsuario" style="display: none;">

                </div>
            </div>
        </div>

        <div class="button-container mb-10">
            <a href="javascript:void(0)" class="btn btn-primary"
                onclick="modificarAsignacionesAsesor('@AsesorAsignados.IdUsuario', '@AsesorAsignados.Dni')">
                Modificar Clientes Asignados
            </a>
        </div>

        <div class="spacing"></div>
        <hr>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary">Agregar un Nuevo Asesor</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-main" data-bs-dismiss="modal">Regresar</button>
    </div>
</div>



    <script>
        function desactivarAsesor(dni, idUsuario) {
            $.ajax({
                type: "POST",
                url: "/Asesor/DesactivarAsesor",
                data: {
                    dni: dni,
                    idUsuario: idUsuario
                },
                success: function (response) {
                    if (response) {
                        Swal.fire({
                            title: 'Desactivacion de Asesor',
                            text: 'El Asesor fue desactivado correctamente.',
                            icon: 'warning',
                            confirmButtonText: 'Aceptar'
                        });
                    } else {
                        Swal.fire({
                            title: 'Desactivacion de Asesor',
                            text: 'Ocurrio un error al tratar de Desactivar al Asesor comunicarse con el servicio tecnico.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function (message) {
                    Swal.fire({
                        title: 'Desactivacion de Asesor',
                        text: 'Ocurrio un error al tratar de Desactivar al Asesor comunicarse con el servicio tecnico.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        }

        function activarAsesor(dni, idUsuario) {
            $.ajax({
                type: "POST",
                url: "/Asesor/ActivarAsesor",
                data: {
                    dni: dni,
                    idUsuario: idUsuario
                },
                success: function (response) {
                    if (response) {
                        Swal.fire({
                            title: 'Activacion de Asesor',
                            text: 'El Asesor fue activado correctamente.',
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        });
                    } else {
                        Swal.fire({
                            title: 'Activacion de Asesor',
                            text: 'Ocurrio un error al tratar de Activar al Asesor comunicarse con el servicio tecnico.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Activacion de Asesor',
                        text: 'Ocurrio un error al tratar de Activar al Asesor comunicarse con el servicio tecnico.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        }

        function modificarAsignacionesAsesor(IdUsuario, dni) {
            var labelForAsesor = document.getElementById('seccionModificarAsignaciones_' + IdUsuario);
            // Realiza una llamada AJAX para cargar la vista parcial
            $.ajax({
                url: "/Supervisor/ObtenerVistaModificarAsignaciones", // URL del controlador que devuelve la vista parcial
                type: "GET",
                data: {
                    IdUsuario: IdUsuario,
                    dni: dni
                },
                success: function (response) {
                    labelForAsesor.style.display = 'block';
                    $('#seccionModificarAsignaciones_' + IdUsuario).html(response);
                },
                error: function () {
                    alert("Error.");
                }
            });
        }

    </script>