@model IEnumerable<ALFINapp.Models.SupervisorDTO>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<header>
    <div class="container-fluid">
        <div class="top-container">
            <p><strong>Fecha actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</p>
            <div class="buttons-container">
                <a href="@Url.Action("CerrarSesion", "User")" class="btn btn-secondary">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">

    <h2>Ventas del Usuario - @usuarioNombre</h2>
    <div class="buttons-container">
                <a href="javascript:void(0);" class="btn btn-primary" onclick="loadAsignarClienteAVendedor()">Asignar Vendedor</a>
            </div>
    <!-- Tabla para mostrar los DetalleBases/ventas -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Modificar Cliente</th>
                <th>id Asignacion</th>

                <th>id Cliente + DNI + Nombre</th>
                <th>id Usuario Vendedor + Nombre</th>
                <th>Fecha Asignacion Vendedor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var SupervisorDTO in Model)
            {
                <tr>
                    <td><a href="javascript:void(0);" class="btn btn-info"
                            onclick="loadTipificarCliente(@SupervisorDTO.IdCliente)">Modificar</a>
                    </td>
                    <td>@SupervisorDTO.IdAsignacion</td>
                    <td>@SupervisorDTO.IdCliente - @SupervisorDTO.Dni - @SupervisorDTO.XNombre @SupervisorDTO.XAppaterno</td>
                    <td>@SupervisorDTO.idUsuarioV - @SupervisorDTO.NombresCompletos @SupervisorDTO.ApellidoPaterno</td>
                    <td>@SupervisorDTO.FechaAsignacionV</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="asignarVendModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Asignar Vendedores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentAsignarVend">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Cliente -->
<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentAgregar">
                    <!-- Aquí se cargará el formulario de agregar cliente -->
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function loadAsignarClienteAVendedor() {
        $.ajax({
            url: '/Supervisor/AsignarVendedorView',
            type: 'GET',
            success: function (result) {
                $('#modalContentAsignarVend').html(result);
                $('#asignarVendModal').modal('show');
            },
            error: function () {
                alert('Error al cargar los datos del cliente.');
            }
        });
    }
</script>

@if (TempData["Message"] != null)
    {
        <script>
            alert('@TempData["Message"]');
        </script>
    }