@model IEnumerable<ALFINapp.Models.SupervisorDTO>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<header>
    <div class="container-fluid">
        <div class="top-container">
            <p><strong>Fecha actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</p>
            <div class="buttons-container">
                <a href="@Url.Action("CerrarSesion", "User")" class="btn btn-danger">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Clientes Asignados al Usuario Supervisor - @usuarioNombre</h2>
        <a href="javascript:void(0);" class="btn btn-success" onclick="loadAsignarClienteAVendedor()">Asignar
            Vendedor</a>
    </div>
    <!-- Tabla para mostrar los DetalleBases/ventas -->
    <div class="table-responsive">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Num. Cliente</th>

                <th>DNI Cliente</th>
                <th>
                    Nombres del Cliente
                    <button onclick="sortTable(2, 'text')" class="btn btn-sm btn-link">Ordenar</button>
                </th>

                <th>
                    Vendedor Asignado
                    <button onclick="sortTable(3, 'text')" class="btn btn-sm btn-link">Ordenar</button>
                </th>

                <th>DNI Vendedor</th>
                <th>
                    Fecha Asignacion Vendedor
                    <button onclick="sortTable(5, 'date')" class="btn btn-sm btn-link">Ordenar</button>
                </th>

                <th>Asigne o Modifique la Asignacion</th>
            </tr>
        </thead>
        <tbody id="data-table">
            @{
                int contr = 1;
            }
            @foreach (var SupervisorDTO in Model)
            {
                <tr>
                    <td>@contr</td>
                    @{
                        contr++;
                    }
                    <td>@SupervisorDTO.Dni</td>
                    <td>@SupervisorDTO.XNombre @SupervisorDTO.XAppaterno @SupervisorDTO.XApmaterno</td>
                    <td>@SupervisorDTO.NombresCompletos</td>
                    <td>@SupervisorDTO.DniVendedor</td>
                    <td>@SupervisorDTO.FechaAsignacionV</td>

                    <td><a href="javascript:void(0);" class="btn btn-primary"
                            onclick="loadModificarVendedorAsignado(@SupervisorDTO.IdAsignacion)">Modificar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="asignarVendModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Asignar Vendedores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentAsignarVend">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificarVendModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Asignar Vendedores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentModificarVendAsignar">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadAsignarClienteAVendedor() {
        $.ajax({
            url: '/Supervisor/AsignarVendedorView',
            type: 'GET',
            success: function (result) {
                $('#modalContentAsignarVend').html(result);
                $('#asignarVendModal').modal('show');
            },
            error: function () {
                alert('Error al cargar los datos del cliente.');
            }
        });
    }

    function loadModificarVendedorAsignado(idAsignacion) {
        $.ajax({
            url: '/Supervisor/ModificarAsignacionVendedorView',
            type: 'GET',
            data: {id_asignacion: idAsignacion},
            success: function (result) {
                $('#modalContentModificarVendAsignar').html(result);
                $('#modificarVendModal').modal('show');
            },
            error: function () {
                alert('Error al cargar los datos del cliente.');
            }
        });
    }
</script>

<script>
    function sortTable(columnIndex, type) {
        const tableBody = document.getElementById('data-table');
        const rows = Array.from(tableBody.rows);
        const isAscending = tableBody.getAttribute('data-sort-order') === 'asc';
        tableBody.setAttribute('data-sort-order', isAscending ? 'desc' : 'asc');

        rows.sort((a, b) => {
            let valueA = a.cells[columnIndex].innerText.trim();
            let valueB = b.cells[columnIndex].innerText.trim();

            if (type === 'number') {
                valueA = parseFloat(valueA) || 0;
                valueB = parseFloat(valueB) || 0;
            } else if (type === 'date') {
                valueA = new Date(valueA);
                valueB = new Date(valueB);
            }

            if (valueA > valueB) return isAscending ? 1 : -1;
            if (valueA < valueB) return isAscending ? -1 : 1;
            return 0;
        });

        rows.forEach(row => tableBody.appendChild(row));
    }
</script>


@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}