@model IEnumerable<ALFINapp.Models.SupervisorDTO>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];

    var currentPage = (int)ViewData["CurrentPage"];
    var totalPages = (int)ViewData["TotalPages"];
    var pageSize = (int)ViewData["PageSize"];
    var clientesPendientesSupervisor = (int)ViewData["ClientesPendientesSupervisor"];
    var IdentificadorBase = ViewData["basesFiltradas"] as IEnumerable<dynamic>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<header>
    <div class="container-fluid">
        <div class="top-container">
            <p><strong>Fecha y hora actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</p>
            <div class="buttons-container">
                <a href="javascript.void(0)" class="btn btn-success" onclick="cargarInformes()">Informes</a>
                <a href="@Url.Action("CerrarSesion", "User")" class="btn btn-danger">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">

    <div class="container mb-3">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <h2 class="mb-0">Supervisor - @usuarioNombre</h2>
                <div class="spacing"></div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Base</th>
                                <th>Asignado a Asesores</th>
                                <th>Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@ViewData["totalClientes"]</td>
                                <td>@ViewData["clientesAsignadosSupervisor"]</td>
                                <td>@ViewData["ClientesPendientesSupervisor"]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                <div class="d-flex flex-column align-items-center w-100">
                    <div class="d-flex justify-content-between w-100 mb-3">
                        <div class="me-2">
                            <label for="baseDescarga">Descargar por Identificador de Base</label>
                            <select class="form-select" name="selectIdentificadorBase" id="selectIdentificadorBase">
                                @foreach (var Identificador in IdentificadorBase)
                                {
                                    <option value="@Identificador.IdentificadorBase">@Identificador.IdentificadorBase</option>
                                }
                            </select>
                            <label for="fechaInicio">Fecha Inicio:</label>
                            <input type="date" id="fechaInicio" class="form-control" />
                            <label for="fechaFin">Fecha Fin:</label>
                            <input type="date" id="fechaFin" class="form-control" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-between w-100">
                        <a href="javascript:void(0);" class="btn btn-primary mb-3 ms-2" onclick="descargarDatos()">Descargar Datos</a>
                        <a href="javascript:void(0);" class="btn btn-success mb-3 ms-2" onclick="loadAsignarClienteAVendedor()">Asignar Asesores</a>
                        <a href="javascript:void(0);" class="btn btn-info mb-3 ms-2" onclick="loadFuncionalidadAsesores()">Modificar Asignaciones</a>
                        <a href="javascript:void(0);" class="btn btn-primary mb-3 ms-2" onclick="loadReasignarClientesAsignados()">Asignar Clientes Existentes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla para mostrar los DetalleBases/ventas -->
    <div class="table-responsive">
        <table class="table table-bordered" id="clientesTable">
            <thead>
                <tr>
                    <th>Num. Cliente</th>

                    <th>DNI Cliente</th>
                    <th>
                        Nombres del Cliente
                        <!--<button class="btn btn-link p-0"
                            onclick="sortTable('clientesTable', 2, 'string')">Ordenar</button>-->
                    </th>

                    <th>
                        Asesor Asignado
                        <!--<button class="btn btn-link p-0"
                            onclick="sortTable('clientesTable', 3, 'string')">Ordenar</button>-->
                    </th>

                    <th>DNI Asesor</th>
                    <th>
                        Fecha Asignacion Asesor
                        <!--<button class="btn btn-link p-0"
                            onclick="sortTable('clientesTable', 5, 'date')">Ordenar</button>-->
                    </th>

                    <!--<th>Asigne o Modifique la Asignacion</th>
                        <td><a href="javascript:void(0);" class="btn btn-primary"
                                onclick="loadModificarVendedorAsignado(SupervisorDTO.IdAsignacion)">Modificar</a>
                    </td>-->
                </tr>
            </thead>
            <tbody id="data-table">
                @{
                    int contr = 1;
                }
                @foreach (var SupervisorDTO in Model)
                {
                    <tr>
                        <td>@contr</td>
                        @{
                            contr++;
                        }
                        <td>@SupervisorDTO.Dni</td>
                        <td>@SupervisorDTO.XNombre.ToUpper() @SupervisorDTO.XAppaterno.ToUpper()
                            @SupervisorDTO.XApmaterno.ToUpper()</td>
                        <td>@SupervisorDTO.NombresCompletos.ToUpper()</td>
                        <td>@SupervisorDTO.DniVendedor</td>
                        <td>@SupervisorDTO.FechaAsignacionV</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination">
        @if (currentPage > 1)
        {
            <a href="?page=@(currentPage - 1)&pageSize=@pageSize"><i class="fa-solid fa-arrow-left"></i></a>
        }
        <span>&nbsp; Página @currentPage de @totalPages &nbsp;</span>
        @if (currentPage < totalPages)
        {
            <a href="?page=@(currentPage + 1)&pageSize=@pageSize"> <i class="fa-solid fa-arrow-right"></i></a>
        }
    </div>
    <div class="spacing"></div>
    <div class="spacing"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="asignarVendModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Asignar Asesores</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentAsignarVend">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificarVendModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Modificar Asesores y Asignaciones</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentModificarVendAsignar">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal USUARIOS-->
<div class="modal fade" id="modificarAsesorModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Agregar Modificar o Desactivar Asesores</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentModificarAsesorModal">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ReasignarAsesorSecundarioModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Agregar Asesores Secundarios</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentReasignarAsesorSecundarioModal">
                    <!-- Aquí se cargará la vista parcial -->
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                title: 'Mensaje', // Título del mensaje
                text: '@Html.Raw(TempData["Message"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'info', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }

    @if (TempData["MessageError"] != null)
    {
        <script>
            Swal.fire({
                title: 'Error', // Título del mensaje
                text: '@Html.Raw(TempData["MessageError"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'error', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }

    <script src="~/js/mainsupervisorfunctions.js"></script>
}


<script>
    function cargarInformes(){
        
    }
</script>