@model IEnumerable<ALFINapp.Models.BaseCliente>

@{
    ViewData["Title"] = "Ventas del Usuario";
    var usuarioNombre = ViewData["UsuarioNombre"];
}

<div class="container mt-4">
    <div class="top-container">
        <p><strong>Fecha actual:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</p>
        <div class="buttons-container">
            <button class="btn btn-primary">Agregar Cliente</button>
            <button class="btn btn-secondary">Cerrar Sesión</button>
        </div>
    </div>
    <h2>Ventas del Usuario - @usuarioNombre</h2>
    <!-- Tabla para mostrar los clientes/ventas -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tipificación</th>
                <th>DNI</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Oferta Max</th>
                <th>Campaña</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var BaseCliente in Model)
            {
                <tr>
                    <td>@BaseCliente.dni</td>
                    <td>@BaseCliente.x_appaterno</td>
                    <td>@BaseCliente.x_apmaterno</td>
                    <td>@BaseCliente.x_nombre</td>
                    <td>@BaseCliente.edad</td>
                    <td>@BaseCliente.departamento</td>
                </tr>
            }
        </tbody>
    </table>
</div>
