@model ALFINapp.API.Models.ViewReportesGeneral
@{
    var rol = (int?)ViewData["RolUser"];
    var asesores = Model.Asesores as List<ALFINapp.API.Models.ViewUsuario>;
    var supervisores = Model.Supervisores as List<ALFINapp.API.Models.ViewUsuario>;
    var idUsuario = (int?)ViewData["UsuarioId"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/Reportes/Reportes.css?v=@DateTime.Now.Ticks">
}

<div class="container-fluid mt-4">
    <div class="align-center">
        <h2> Reporteria </h2>
    </div>
    <div class="flex-container mt-4">
        @*Row --- 01*@
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Resumen de Progreso Mensual</h4>
                <div class="ms-auto col-auto" id="lista-reportes-por-fechas">
                    <label for="lista-fechas" class="form-label">Filtro Por Fechas</label>
                    <input type="date" class="form-control mt-3" name="lista-fechas" id="lista-fechas"
                        onchange="cargarReportePorFechas(this.value)">
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <div class="card-header">
                            <h5>Asignaciones Vs Tipificaciones</h5>
                        </div>
                        <div class="card-body">
                            <div id="chart-progreso-total-y-tipificados">
                                @*Aca se cargara las graficas del Asesor*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-header">
                            <h5>Desembolsos Vs Derivaciones</h5>
                        </div>
                        <div class="card-body">
                            <div id="chart-progreso-general">
                                @*Aca se cargara las graficas del Asesor*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="div-derivaciones" style="display: none;">
                        <div class="card-header">
                            <h5>Derivaciones Generales</h5>
                        </div>
                        <div class="card-body">
                            <div id="chart-derivaciones">
                                @*Aca se cargara las graficas del Asesor*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="flex-container mt-4">
        <div class="card mt-4">
            @if (rol == 1 || rol == 4)
            {
                <div class="card-header">
                    <h5>
                        Seleccione un Asesor o Supervisor para ver sus reportes
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col" id="lista-reportes-usuario-asesor">
                            <label for="lista-usuario-asesor" class="form-label">Filtro Por Asesor de Creditos</label>
                            <select class="form-control mt-3" name="lista-usuario-asesor" id="lista-usuario-asesor"
                                onchange="cargarReporteAsesor(this.value)">
                                <option value=""> Seleccione un Asesor de Creditos </option>
                                @if (asesores != null)
                                {
                                    @foreach (var usuario in asesores)
                                    {
                                        if (usuario.Estado == "ACTIVO")
                                        {
                                            <option value="@usuario.IdUsuario"> @usuario.NombresCompletos </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col" id="lista-reportes-usuario-supervisor">
                            <label for="lista-usuario-supervisor" class="form-label">Filtro Por Supervisor</label>
                            <select class="form-control mt-3" name="lista-usuario-supervisor" id="lista-usuario-supervisor"
                                onchange="cargarReporteSupervisor(this.value)">
                                <option value=""> Seleccione un Supervisor </option>
                                @if (supervisores != null)
                                {
                                    @foreach (var usuario in supervisores)
                                    {
                                        if (usuario.Estado == "ACTIVO")
                                        {
                                            <option value="@usuario.IdUsuario"> @usuario.NombresCompletos </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
            else if (rol == 2)
            {
                <div class="card-header">
                    <div class="alert alert-info">
                        Seleccione un Asesor para ver sus reportes
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="container col" id="lista-reportes-usuario-asesor">
                            <label for="lista-usuario-asesor" class="form-label">Filtro Por Asesor de Creditos</label>
                            <select class="form-control mt-3" name="lista-usuario-asesor" id="lista-usuario-asesor"
                                onchange="cargarReporteAsesor(this.value)">
                                <option value=""> Seleccione un Asesor de Creditos </option>
                                @if (asesores != null)
                                {
                                    @foreach (var usuario in asesores)
                                    {
                                        if (usuario.Estado == "ACTIVO")
                                        {
                                            <option value="@usuario.IdUsuario"> @usuario.NombresCompletos </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @*Row --- 03*@
    <div class="row">
        <div class="col" id="div-derivaciones-supervisor" style="display: none;"></div>
        <div class="col" id="div-reporteria-fechas" style="display: none;"></div>
        <div class="col" id="div-derivaciones-asesor" style="display: none;"></div>
    </div>
</div>

<div id="reportes-data" data-json='@Html.Raw(Json.Serialize(Model))'></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/Reportes/Reportes.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Reportes/ReportesBusqueda.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Reportes/Asesor.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Reportes/Supervisor.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/Reportes/Fechas.js?v=@DateTime.Now.Ticks"></script>
    <script>
        var rol = @(rol.HasValue? rol.Value.ToString() : "null");
        var idUsuario = @(idUsuario.HasValue? idUsuario.Value.ToString() : "null");

        document.addEventListener("DOMContentLoaded", function () {
            if (rol === 3) {
                cargarReporteAsesor(idUsuario);
            } else if (rol === 2) {
                cargarReporteSupervisor(idUsuario);
            }
        });
    </script>
}