@model ALFINapp.Models.DniReferidoData

@{
    var Agencias = ViewData["Agencias"] as List<AgenciasDisponiblesDTO>;
}
<div class="container justify-content-center align-items-center">
    <div class="alert alert-warning" role="alert">
        @if (Model.TraidoDe == "DBA365")
        {
            <span>El cliente si tiene oferta - <strong>A365</strong></span>

        }
        else if (Model.TraidoDe == "DBALFIN")
        {
            <span>El cliente si tiene oferta - <strong>BANCO ALFIN</strong></span>
        }
        <div class="form-group">
            <label for="NombresCompletosCliente"> Nombres Completos: </label>
            <input type="text" id="NombresCompletosCliente" class="form-control" placeholder="Nombres Completos"
                value="@Model.NombresCompletos" disabled readonly>
        </div>
        <div class="form-group">
            <label for="CanalTelecampo"> Canal Telecampo </label>
            <input type="text" id="CanalTelecampo" class="form-control" placeholder="CanalTelecampo" value="A365"
                disabled readonly>
        </div>
        <div class="form-group">
            <label for="OfertaMaximo"> Oferta Maxima </label>
            <input type="text" id="OfertaMaximo" class="form-control" placeholder="OfertaMaximo" value="@Model.OfertaMaxima"
                disabled readonly>
        </div>
    </div>

    <div class="mb-3">
        <h3>Ingresa tus <strong>Datos Personales</strong>:</h3>
    </div>

    <div class="form-group mb-3">
        <label for="DNIUsuario"> Ingrese su DNI </label>
        <input type="text" id="DNIUsuario" class="form-control" placeholder="Codigo de Ejecutivo">
    </div>

    <div class="form-group mb-3">
        <label for="NombresCompletosUsuario"> Ingrese sus Nombres Completos </label>
        <input type="text" id="NombresCompletosUsuario" class="form-control" placeholder="Nombres Completos">
    </div>

    <div class="form-group mb-3">
        <label for="ApellidosCompletosUsuario"> Ingrese sus Apellidos Completos </label>
        <input type="text" id="ApellidosCompletosUsuario" class="form-control" placeholder="Apellidos Completos">
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label for="CelularUsuario"> Ingrese su Numero de Celular </label>
                <input type="text" id="CelularUsuario" class="form-control" placeholder="Celular">
            </div>
            <div class="form-group mb-3">
                <label for="CorreoUsuario"> Ingrese su Correo Electronico </label>
                <input type="text" id="CorreoUsuario" class="form-control" placeholder="Correo Electronico">
            </div>
            <div class="form-group mb-3">
                <label for="CCIUsuario">CCI</label>
                <input type="text" id="CCIUsuario" class="form-control" placeholder="Ingrese su CCI">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label for="DepartamentoUsuario">Seleccione su Departamento</label>
                <select id="DepartamentoUsuario" class="form-select">
                    <option value="">Seleccione un Departamento</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Áncash">Áncash</option>
                    <option value="Apurímac">Apurímac</option>
                    <option value="Arequipa">Arequipa</option>
                    <option value="Ayacucho">Ayacucho</option>
                    <option value="Cajamarca">Cajamarca</option>
                    <option value="Callao">Callao</option>
                    <option value="Cusco">Cusco</option>
                    <option value="Huancavelica">Huancavelica</option>
                    <option value="Huánuco">Huánuco</option>
                    <option value="Ica">Ica</option>
                    <option value="Junín">Junín</option>
                    <option value="La Libertad">La Libertad</option>
                    <option value="Lambayeque">Lambayeque</option>
                    <option value="Lima">Lima</option>
                    <option value="Loreto">Loreto</option>
                    <option value="Madre de Dios">Madre de Dios</option>
                    <option value="Moquegua">Moquegua</option>
                    <option value="Pasco">Pasco</option>
                    <option value="Piura">Piura</option>
                    <option value="Puno">Puno</option>
                    <option value="San Martín">San Martín</option>
                    <option value="Tacna">Tacna</option>
                    <option value="Tumbes">Tumbes</option>
                    <option value="Ucayali">Ucayali</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="BancoUsuario"> Ingrese su Banco </label>
                <input type="text" id="BancoUsuario" class="form-control" placeholder="Banco">
            </div>
        </div>
    </div>


    <div class="mb-3">
        <h3>Ingrese los <strong>Datos Personales</strong> del <strong>Cliente Referenciado</strong></h3>
    </div>

    @if (Model.TraidoDe == "DBALFIN")
    {
        <div class="form-group mb-3">
            <label for="NombresCompletosCliente"> Nombres Completos (Solo agregue una referencia)</label>
            <input type="text" id="NombresCompletosCliente" class="form-control" placeholder="Nombres Completos">
        </div>
    }

    <div class="form-group mb-3">
        <label for="CelularCliente"> Celular </label>
        <input type="text" id="CelularCliente" class="form-control" placeholder="Celular">
    </div>

    <div class="form-group mb-3 row">
        <div class="col md-6">
            <label for="AgenciaAtencion">Agencia de Atencion</label>
        </div>
        <div class="col md-6">
            <select class="form-select" id="AgenciaAtencion">
                <option value="">Seleccione una agencia</option>
                @if (Agencias != null)
                {
                    @foreach (var agencia in Agencias)
                    {
                        if (agencia != null)
                        {
                            <option value="@agencia.sucursal_comercial - @agencia.agencia_comercial">@agencia.sucursal_comercial -
                                @agencia.agencia_comercial</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group mb-3 row">
        <div class="col md-6">
            <label for="FechaVisitaAgencia">Fecha de Visita a Agencia</label>
        </div>
        <div class="col md-6">
            <input type="date" id="FechaVisitaAgencia" class="form-control">
        </div>
    </div>

    <div class="btn btn-container mt-4">
        <a href="javascript:void(0)" id="referirDniButton" class="btn btn-success"
            onclick="ReferirDNI('@Model.DNI', '@Model.TraidoDe')">Referir a este Cliente</a>
    </div>


    @*<div class="form-group mb-3 row">
    <div class="col md-6">
        <label for="HoraVisitaAgencia">Hora de Visita Agencia</label>
    </div>
    <div class="col md-6">
        <select class="form-select" id="HoraVisitaAgencia">
            <option value="MAÑANA">MAÑANA</option>
            <option value="TARDE">TARDE</option>
    </div>
</div>*@

</div>