@model ALFINapp.Models.DniReferidoData

@{
    var Agencias = ViewData["Agencias"] as List<String>;
}

<div class="alert alert-warning" role="alert">
    @if (Model.TraidoDe == "DBA365")
    {
        <span>El cliente si tiene oferta - <strong>A365</strong></span>
        <div class="form-group">
            <label for="NombresCompletosCliente"> Nombres Completos: </label>
            <input type="text" id="NombresCompletosCliente" class="form-control" placeholder="Nombres Completos"
                value="@Model.NombresCompletos" disabled readonly>
        </div>
        <div class="form-group">
            <label for="CanalTelecampo"> Canal Telecampo </label>
            <input type="text" id="CanalTelecampo" class="form-control" placeholder="CanalTelecampo" value="A365" disabled
                readonly>
        </div>
    }
    else if (Model.TraidoDe == "DBALFIN")
    {
        <span>El cliente si tiene oferta - <strong>BANCO ALFIN</strong></span>
        <div class="form-group">
            <label for="CanalTelecampo"> Canal Telecampo </label>
            <input type="text" id="CanalTelecampo" class="form-control" placeholder="CanalTelecampo" value="A365" disabled
                readonly>
        </div>
    }
</div>



<h3>Ingrese sus <strong>Datos Personales</strong> al mandar la referencia</h3>

<div class="form-group mb-3">
    <label for="DNIUsuario"> Ingrese su DNI </label>
    <input type="text" id="DNIUsuario" class="form-control" placeholder="Codigo de Ejecutivo">
</div>

<div class="form-group mb-3">
    <label for="NombresCompletosUsuario"> Ingrese sus Nombres Completos </label>
    <input type="text" id="NombresCompletosUsuario" class="form-control" placeholder="Nombres Completos">
</div>

<div class="form-group mb-3">
    <label for="ApellidosCompletosUsuario"> Ingrese sus Apellidos Completos </label>
    <input type="text" id="ApellidosCompletosUsuario" class="form-control" placeholder="Apellidos Completos">
</div>

<h3>Ingrese los <strong>Datos Personales</strong> del cliente <strong>Cliente Referenciado</strong></h3>

@if (Model.TraidoDe == "DBALFIN")
{
    <div class="form-group mb-3">
        <label for="NombresCompletosCliente"> Nombres Completos (Solo agregue una referencia)</label>
        <input type="text" id="NombresCompletosCliente" class="form-control" placeholder="Nombres Completos">
    </div>
}

<div class="form-group mb-3">
    <label for="CelularCliente"> Celular </label>
    <input type="text" id="CelularCliente" class="form-control" placeholder="Celular">
</div>

<div class="form-group mb-3 row">
    <div class="col md-6">
        <label for="AgenciaAtencion">Agencia de Atencion</label>
    </div>
    <div class="col md-6">
        <select class="form-select" id="AgenciaAtencion">
            <option value="">Seleccione una agencia</option>
            @if (Agencias != null)
            {
                @foreach (var agencia in Agencias)
                {
                    <option value="@agencia">@agencia</option>
                }
            }
        </select>
    </div>
</div>

<div class="form-group mb-3 row">
    <div class="col md-6">
        <label for="FechaVisitaAgencia">Fecha de Visita a Agencia</label>
    </div>
    <div class="col md-6">
        <input type="date" id="FechaVisitaAgencia" class="form-control">
    </div>
</div>

<div class="btn btn-container mt-4">
    <a href="javascript:void(0)" id="referirDniButton" class="btn btn-success"
        onclick="ReferirDNI('@Model.DNI', '@Model.TraidoDe')">Referir a este Cliente</a>
</div>


@*<div class="form-group mb-3 row">
    <div class="col md-6">
        <label for="HoraVisitaAgencia">Hora de Visita Agencia</label>
    </div>
    <div class="col md-6">
        <select class="form-select" id="HoraVisitaAgencia">
            <option value="MAÑANA">MAÑANA</option>
            <option value="TARDE">TARDE</option>
    </div>
</div>*@


