@model ALFINapp.API.Models.ViewGestionLeads

@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container mt-4">
    <div class="container mb-3">
        <div class="row align-items-center">
            <!-- Título -->
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <h2 class="text-center text-md-start">ASESOR DE CREDITOS - @Model.Vendedor.NombresCompletos</h2>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Asignado</th>
                                <th>Gestionado</th>
                                <th>Sin Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.clientesTotal</td>
                                <td>@Model.clientesTipificados</td>
                                <td>@Model.clientesPendientes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6 align-items-center d-flex flex-column">
                <div class="d-flex flex-md-row align-items-md-center">
                    <label for="busqueda-campo-gestion-leads" class="form-label mb-2 mb-md-0 me-md-2 col-1">
                        Buscar por:
                    </label>
                    <select id="filtro-busqueda-campo-gestion-leads" class="form-control me-md-2 col"
                        onchange="toggleInputFields(this.value)">
                        <option value="nombres">Apellidos y Nombres</option>
                        <option value="campana">Campaña</option>
                        <option value="oferta">Oferta Max</option>
                        <option value="comentario">Comentario Principal</option>
                        <option value="tipificacion">Tipificación más Relevante</option>
                        <option value="dni">DNI</option>
                    </select>
                    <input type="text" class="form-control col me-md-2" id="busqueda-campo-gestion-leads-texto"
                        placeholder="Ingrese valor de búsqueda" />
                    <a href="javascript:void(0)" class="btn btn-info col-1 me-md-2"
                        onclick="filterTablaByDetails('busqueda-campo-gestion-leads-texto', 'filtro-busqueda-campo-gestion-leads')"><i
                            class="bi bi-search"></i></a>
                    <a href="javascript:void(0)" class="btn btn-info col-1" id="btn-clean-filters"
                        onclick="restartDefaultTable()"><i class="bi bi-trash"></i></a>
                    <div class="form-group">
                        <input type="date" class="form-control" id="busqueda-campo-gestion-leads-fecha-start"
                            style="display: none;" placeholder="Fecha Inicial">
                        <input type="date" class="form-control" id="busqueda-campo-gestion-leads-fecha-end"
                            style="display: none;" placeholder="Fecha Final">
                    </div>
                </div>
                <div class="flex-md-row align-items-md-center mt-4">
                    <div class="btn-group justify-content-center">
                        <a asp-action="Gestion" 
                            asp-route-paginaInicio="@(Model.PaginaActual - 1)"
                            asp-route-paginaFinal="@(Model.PaginaActual)" 
                            asp-route-filter="@(Model.filtro)"
                            asp-route-searchField="@(Model.searchfield)"
                            asp-route-order="@(Model.order)"
                            asp-route-orderAsc="@(Model.orderAsc)"
                            class="me-2 @(Model.PaginaActual <= 0 ? "disabled" : "")">
                            <i class="bi bi-arrow-left-circle"></i>
                        </a>
                        <span id="page-indicator" class="me-2"> Página @(Model.PaginaActual + 1) </span>
                        <a asp-action="Gestion" 
                            asp-route-paginaInicio="@(Model.PaginaActual + 1)"
                            asp-route-paginaFinal="@(Model.PaginaActual + 2)" 
                            asp-route-filter="@(Model.filtro)"
                            asp-route-searchField="@(Model.searchfield)"
                            asp-route-order="@(Model.order)"
                            asp-route-orderAsc="@(Model.orderAsc)"
                            class="me-2">
                            <i class="bi bi-arrow-right-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive" id="secondary-table-container">

    </div>
    <div class="table-responsive" id="main-table-container">
        <table class="table table-bordered" id="clientesTable">
            <thead>
                <tr>
                    <th>Ver Cliente:</th>
                    <th>
                        <span>DNI</span>
                    </th>
                    <th>
                        <span>Nombres Completos</span>
                    </th>
                    <th>
                        <span>Oferta Max</span>
                    </th>
                    <th>
                        <span>Campaña</span>
                    </th>
                    <th>
                        <span>Fecha Asignacion</span>
                    </th>
                    <th>
                        <span>Comentario Principal</span>
                    </th>
                    <th>
                        <span>Tipificacion mas Relevante</span>
                    </th>
                    <th>
                        <span>Fecha de la Tipificacion</span>
                    </th>
                    <th>
                        <span>Prioridad</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'dni', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'nombres', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'oferta', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'campana', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'fecha_asignacion', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'comentario', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'tipificacion', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'fecha_tipificacion', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)'')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning p-0 mt-auto"
                            onclick="sortTableGestionLeads('@Model.filtro','@Model.searchfield', 'prioridad', '@(Model.orderAsc ? false : true)', '@(@Model.filtro)')" data-sort-ignore>
                            &#x25BC;
                        </button>
                    </td>
                </tr>
                @foreach (var Cliente in Model.ClientesA365)
                {
                    var pesotipMayor = Cliente.PesoTipificacionMayor;
                    var rowClass = ""; // Inicializa como cadena vacía
                    if (pesotipMayor != null)
                    {
                        rowClass = "table-success"; // Clase base para filas con tipificación

                        if (pesotipMayor > 100)
                        {
                            rowClass += " table-danger"; // Clase adicional para peso mayor a 100
                        }
                    }
                    <tr class="@rowClass">
                        <td class="text-center">
                            @if (Cliente.TraidoDe == "A365")
                            {
                                <a href="javascript:void(0);" class="btn btn-primary"
                                    onclick="loadTipificarCliente(@Cliente.IdBase,'TipificarClienteView')">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <span class="badge bg-primary">A365</span>

                            }
                            else if (Cliente.TraidoDe == "ALFIN")
                            {
                                <a href="javascript:void(0);" class="btn btn-primary"
                                    onclick="loadTipificarCliente(@Cliente.IdBase,'TipificarClienteDBALFINView')">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <span class="badge bg-info">ALFIN</span>
                            }
                        </td>
                        <td>@Cliente.Dni</td>
                        <td>@(Cliente.XAppaterno?.ToUpper() ?? "") @(Cliente.XApmaterno?.ToUpper() ?? "")
                            @(Cliente.XNombre?.ToUpper() ?? "")
                        <td>@Cliente.OfertaMax</td>
                        <td>@(Cliente.Campaña?.ToUpper() ?? "N/A")</td>
                        <td>@Cliente.FechaAsignacionVendedor</td>
                        <td><textarea name=""
                                id="comentarioGeneral[@Cliente.IdAsignacion]">@Cliente.ComentarioGeneral</textarea>
                            <a href="javascript:void(0);" class="btn btn-primary"
                                onclick="guardarComentarioGeneral(@Cliente.IdAsignacion)">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                        <td>@Cliente.TipificacionDeMayorPeso</td>
                        <td>@Cliente.FechaTipificacionDeMayorPeso</td>
                        <td>@Cliente.PrioridadSistema</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="GeneralTemplateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true"
    data-bs-focus="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="GeneralTemplateTitleModalLabel"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentGeneralTemplate">
                    @*Aca cargara el contenido del Modal*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                title: 'Mensaje', // Título del mensaje
                text: '@Html.Raw(TempData["Message"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'info', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }
    @if (TempData["MessageError"] != null)
    {
        <script>
            Swal.fire({
                title: 'Error', // Título del mensaje
                text: '@Html.Raw(TempData["MessageError"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'error', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }
    <script src="~/js/Leads/Gestion.js?v=@DateTime.Now.Ticks"></script>
}