@model ALFINapp.API.Models.ViewGestionLeads

@{
    var usuarioNombre = Model.Supervisor.NombresCompletos;

    var clientesPendientesSupervisor = Model.clientesPendientes;
    var totalClientes = Model.clientesTotal;
    var clientesAsignadosSupervisor = Model.clientesTipificados;
    var destinoBases = Model.destinoBases;
    var listasAsignacion = Model.listasAsignacion;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
}

<div class="container mt-4">
    <div class="container mb-3">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <h2 class="mb-0">Supervisor - @usuarioNombre</h2>
                <div class="ba-card mt-2">
                    <div class="ba-card-header">
                        <h4 class="mb-0">Resumen de Clientes</h4>
                    </div>
                    <div class="ba-card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="badge bg-primary">Total de Clientes:</p> 
                            </div>
                            <div class="col-12 col-md-6">
                                <p>
                                    <strong>@totalClientes</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="badge bg-success">Clientes Asignados a Asesores:</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p>
                                    <strong>@clientesAsignadosSupervisor</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="badge bg-warning">Clientes Pendientes:</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p>
                                    <strong>@clientesPendientesSupervisor</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @* <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Base</th>
                                <th>Asignado a Asesores</th>
                                <th>Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@totalClientes</td>
                                <td>@clientesAsignadosSupervisor</td>
                                <td>@clientesPendientesSupervisor</td>
                            </tr>
                        </tbody>
                    </table> *@
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                <div class="ba-card h-100 me-2">
                    <div class="ba-card-header">
                        <h4 class="mb-0">Filtros de Datos</h4>
                    </div>
                    <div class="ba-card-body">
                        <div class="row mb-3">
                            <div class="form-group col-6 col-md-4">
                                <label for="fechaInicio">Fecha Inicio:</label>
                                <input type="date" id="fechaInicio" class="form-control" />
                            </div>
                            <div class="form-group col-6 col-md-4">
                                <label for="fechaFin">Fecha Fin:</label>
                                <input type="date" id="fechaFin" class="form-control" />
                            </div>
                            <div class="form-group col-6 col-md-4">
                                <label for="filtro-descarga-general">Filtro:</label>
                                <select class="form-control" name="filtro-descarga-general"
                                    id="filtro-descarga-general">
                                    <option value="">Seleccione una opción</option>
                                    @if (listasAsignacion != null)
                                    {
                                        <optgroup label="Listas de Asignación" data-type="lista">
                                            @foreach (var lista in listasAsignacion)
                                            {
                                                <option value="@lista">@lista</option>
                                            }
                                        </optgroup>
                                    }

                                    @if (destinoBases != null)
                                    {
                                        <optgroup label="Destinos" data-type="destino">
                                            @foreach (var destinoBase in destinoBases)
                                            {
                                                <option value="@destinoBase">@destinoBase</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row g-2 mb-0">
                            <div class="col-12 col-md-4">
                                <a href="javascript:void(0);" class="btn btn-info w-100"
                                    onclick="filtrar_datos_en_tabla()">
                                    <i class="bi bi-search"></i> Filtrar
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="javascript:void(0)" class="btn btn-info w-100" id="btn-clean-filters"
                                    onclick="restart_table()">
                                    <i class="bi bi-trash"></i> Limpiar
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="javascript:void(0);" class="btn btn-success w-100" onclick="descargarDatos()">
                                    <i class="bi bi-file-earmark-excel"></i> Exportar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla para mostrar los DetalleBases/ventas -->
    <div class="table-responsive">
        <table class="table table-bordered" id="clientesTable">
            <thead>
                <tr>
                    <th>DNI Cliente</th>
                    <th>
                        Nombres del Cliente
                        <!--<button class="btn btn-link p-0"
                            onclick="sortTable('clientesTable', 2, 'string')">Ordenar</button>-->
                    </th>

                    <th>
                        Asesor Asignado
                        <!--<button class="btn btn-link p-0"
                            onclick="sortTable('clientesTable', 3, 'string')">Ordenar</button>-->
                    </th>

                    <th>
                        Ultima Tipificacion
                    </th>
                    <th>
                        Tipificacion mas Relevante
                    </th>
                </tr>
            </thead>
            <tbody id="data-table">
                @foreach (var clientes in Model.ClientesA365)
                {
                    <tr>
                        <td>@clientes.Dni</td>
                        <td>@clientes.XNombre?.ToUpper() @clientes.XAppaterno?.ToUpper()
                            @clientes.XApmaterno?.ToUpper()</td>
                        <td>@clientes.NombresCompletosV.ToUpper()</td>
                        <td>@clientes.UltimaTipificacion</td>
                        <td>@clientes.TipificacionDeMayorPeso</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="alert alert-info mt-3" role="alert">
        <strong>Nota:</strong> Las demas entradas han sido truncadas.
    </div>
</div>

<div class="modal fade" id="GeneralTemplateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="GeneralTemplateTitleModalLabel"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentGeneralTemplate">
                    <!-- Aquí se cargará el formulario de agregar cliente -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                title: 'Mensaje', // Título del mensaje
                text: '@Html.Raw(TempData["Message"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'info', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }

    @if (TempData["MessageError"] != null)
    {
        <script>
            Swal.fire({
                title: 'Error', // Título del mensaje
                text: '@Html.Raw(TempData["MessageError"] as string)', // Usamos Html.Raw para evitar que se escape el texto
                icon: 'error', // Tipo de ícono (info, success, error, warning)
                confirmButtonText: 'Aceptar' // Texto del botón de confirmación
            });
        </script>
    }
    <script src="~/js/Leads/GestionS.js" asp-append-version="true"></script>
}