@model ALFINapp.Models.DetalleBase

@functions {
    public string GetColorCode(string colorName)
    {
        if (string.IsNullOrEmpty(colorName))
        {
            return "#FFFFFF";
        }
        return colorName.ToLower() switch
        {
            "verde" => "#008000",
            "amarillo" => "#FFFF00",
            "naranja" => "#FFA500",
            "rojo" => "#FF0000",
            "verde claro" => "#90EE90",
            "verde oscuro" => "#006400",
            "amarillo claro" => "#FFFFE0",
            "amarillo oscuro" => "#FFD700",
            "naranja claro" => "#FFDAB9",
            "naranja oscuro" => "#FF8C00",
            "rojo claro" => "#FF7F7F",
            "rojo oscuro" => "#8B0000",
            _ => "#FFFFFF"
        };
    }
}

<div class="row mb-2">
    <div class="label-for-sup-sec">
        <h2>Consulta de Campañas</h2>
    </div>
</div>

<div class="row mb-2">
    <div class="alert alert-info" role="alert">
        Este usuario ha sido previamente agregado a la Base de Datos
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <legend>
            <h3>Condiciones de Campaña</h3>
        </legend>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="color_y_tonalidad">Color y Tonalidad:</label>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <input class="form-control ml-2"
                        style="background-color: @GetColorCode(Model.ColorFinal); width: 35px; height: 35px;" readonly>
                    <input class="form-control ml-2" id="COLOR_FINAL" type="text" value="@Model.ColorFinal.ToUpper()" readonly>
                </div>
                <div class="d-flex align-items-center">
                    <input class="form-control ml-2"
                        style="background-color: @GetColorCode(Model.Color); width: 35px; height: 35px;" readonly>
                    <input class="form-control ml-2" id="COLOR" type="text" value="@Model.Color.ToUpper()" readonly>
                </div>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="campaña">Campaña:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="campaña" class="form-control" value="@Model.Campaña" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="oferta_maxima">Oferta Máxima:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="oferta_maxima" class="form-control" value="@Model.OfertaMax" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="plazo_maximo">Plazo Máximo:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="plazo_maximo" class="form-control" value="@Model.Plazo" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="capacidad_de_pago">Capacidad de Pago:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="capacidad_de_pago" class="form-control" value="@Model.CapacidadMax" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="deuda_con_alfin">Deuda con ALFIN:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="deuda_con_alfin" class="form-control" value="@Model.Deuda1" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="nuevo_en_base">Nuevo en BASE:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="nuevo_en_base" class="form-control" value="@Model.ClienteNuevo" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="deuda">Deuda:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="deuda" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="nro_entidades">Nro Entidades:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="nro_entidades" class="form-control" required readonly>
            </div>
        </div>
    </div>
    <div class="col">
        <h3>Tasas Aprobadas</h3>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="hasta_s_3k">Hasta S/ 3k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="hasta_s_3k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="hasta_s_6_1k">Hasta S/ 6.1k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="hasta_s_6_1k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="hasta_s_8_6k">Hasta S/ 8.6k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="hasta_s_8_6k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="hasta_s_12_4k">Hasta S/ 12.4k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="hasta_s_12_4k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="hasta_s_15_1k">Hasta S/ 15.1k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="hasta_s_15_1k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="hasta_s_24_6k">Hasta S/ 24.6k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="hasta_s_24_6k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="mas_de_s_24_6k">Mas de S/ 24.6k:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="mas_de_s_24_6k" class="form-control" required readonly>
            </div>
        </div>
        <div class="form-group row align-items-center mb-2">
            <div class="col-md-6">
                <label for="nueva_tasa">Nueva Tasa:</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="nueva_tasa" class="form-control" required readonly>
            </div>
        </div>
    </div>
</div>
