@model ALFINapp.Models.DetalleTipificarClienteDTO

@{
    var agenciasDisponibles = ViewData["AgenciasDisponibles"] as IEnumerable<AgenciasDisponiblesDTO>;
    var numerosCreadosPorElUsuario = ViewData["numerosCreadosPorElUsuario"] as List<TelefonosAgregadosDTO>;
    var dni = ViewData["DNIcliente"];
    var id_asignacion = ViewData["ID_asignacion"];
    var id_base = Model.IdBase;
    var id_cliente = ViewData["ID_cliente"];
    var base_DB = ViewData["Fuente_BD"];
    bool isEditable = base_DB?.ToString() == "BASE_ASESORES";
    var tipificaciones = ViewData["Tipificaciones"] as IEnumerable<Tipificaciones>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/tipificar_page.css">
}

@functions {
    public string GetColorCode(string colorName)
    {
        if (string.IsNullOrEmpty(colorName))
        {
            return "#FFFFFF";
        }
        return colorName.ToLower() switch
        {
            "verde" => "#008000",
            "amarillo" => "#FFFF00",
            "naranja" => "#FFA500",
            "rojo" => "#FF0000",
            "verde claro" => "#90EE90",
            "verde oscuro" => "#006400",
            "amarillo claro" => "#FFFFE0",
            "amarillo oscuro" => "#FFD700",
            "naranja claro" => "#FFDAB9",
            "naranja oscuro" => "#FF8C00",
            "rojo claro" => "#FF7F7F",
            "rojo oscuro" => "#8B0000",
            _ => "#FFFFFF"
        };
    }
}

<div class="container mb-4">
    @if (isEditable)
    {
        <div class="alert alert-info" role="alert">
            Este Cliente fue agregado por un Asesor, por ende se pueden modificar los campos.
        </div>
    }


    <div class="row">
        <!-- Primera Columna -->
        <div class="col-md-6">
            <h3>Datos del Prospecto</h3>
            <div class="form-group">
                <label for="DNI">DNI</label>
                <input class="form-control" id="DNI" type="text" value="@Model.Dni" readonly>
            </div>
            <div class="form-group">
                <label for="X_APPATERNO">Apellido Paterno</label>
                <input class="form-control form-control-editable" id="X_APPATERNO" type="text" value="@Model.XAppaterno"
                @(isEditable ? "" : "readonly")>
            </div>
            <div class="form-group">
                <label for="X_APMATERNO">Apellido Materno</label>
                <input class="form-control form-control-editable" id="X_APMATERNO" type="text" value="@Model.XApmaterno"
                @(isEditable ? "" : "readonly")>
            </div>
            <div class="form-group">
                <label for="X_NOMBRE">Nombre</label>
                <input class="form-control form-control-editable" id="X_NOMBRE" type="text" value="@Model.XNombre"
                @(isEditable ? "" : "readonly")>
            </div>
            <div class="form-group">
                <label for="EDAD">Edad</label>
                <input class="form-control form-control-editable" id="EDAD" type="text" value="@Model.Edad" @(isEditable
                    ? "" : "readonly")>
            </div>
            <div class="form-group">
                <label for="DEPARTAMENTO">Departamento</label>
                <input class="form-control form-control-editable" id="DEPARTAMENTO" type="text"
                    value="@Model.Departamento" @(isEditable ? "" : "readonly")>
            </div>
            <div class="form-group">
                <label for="PROVINCIA">Provincia</label>
                <input class="form-control form-control-editable" id="PROVINCIA" type="text" value="@Model.Provincia"
                @(isEditable ? "" : "readonly")>
            </div>
            <div class="form-group">
                <label for="DISTRITO">Distrito</label>
                <input class="form-control form-control-editable" id="DISTRITO" type="text" value="@Model.Distrito"
                @(isEditable ? "" : "readonly")>
            </div>
            <div class="spacing"></div>
        </div>
        <!-- Segunda Columna -->
        <div class="col-md-6">
            <h3>Detalles de la Campaña</h3>
            <input class="form-control ml-2" id="IDBASEUSUARIO" value="@Model.IdBase" hidden>
            <div class="form-group">
                <label for="CAMPAÑA">Campaña</label>
                <input class="form-control form-control-editable" id="CAMPAÑA" type="text" value="@Model.Campaña"
                    readonly>
            </div>
            <div class="form-group">
                <label for="OFERTA_MAX">Oferta Máxima</label>
                <input class="form-control form-control-editable" id="OFERTA_MAX" type="text" value="@Model.OfertaMax"
                    readonly>
            </div>
            <div class="form-group">
                <label for="TASA_MINIMA">Tasa Mínima</label>
                <input class="form-control form-control-editable" id="TASA_MINIMA" type="text" value="@Model.TasaMinima"
                    readonly>
            </div>
            <div class="form-group">
                <label for="SUCURSAL_COMERCIAL">Sucursal Comercial</label>
                <input class="form-control form-control-editable" id="SUCURSAL_COMERCIAL" type="text"
                    value="@Model.Sucursal @Model.AgenciaComercial" readonly>
            </div>
            <div class="form-group">
                <label for="PLAZO">Plazo</label>
                <input class="form-control form-control-editable" id="PLAZO" type="text" value="@Model.Plazo" readonly>
            </div>
            <div class="form-group">
                <label for="CUOTA">Cuota</label>
                <input class="form-control form-control-editable" id="CUOTA" type="text" value="@Model.Cuota" readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_TASA">Grupo Tasa</label>
                <input class="form-control form-control-editable" id="GRUPO_TASA" type="text" value="@Model.GrupoTasa"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Grupo Monto</label>
                <input class="form-control form-control-editable" id="GRUPO_MONTO" type="text" value="@Model.GrupoMonto"
                    readonly>
            </div>
            <div class="spacing"></div>

            <!--<div class="spacing"></div>
        <form asp-action="culminarCliente" asp-controller="User">
            <input type="hidden" name="IdAsignacion" value="@id_asignacion" />
            <button class="btn btn-warning" type="submit">Culminar</button>
        </form>
        <div class="spacing"></div>
        <p>Activar este boton culminara con las tipificaciones del Cliente y sera notificado al Supervisor.
            Esta accion no puede ser revertida</p>
        -->
        </div>
    </div>

    <div class="row">
        <h3>Detalles de las Ofertas</h3>
        <div class="col-md-6">
            <div class="form-group">
                <label for="GRUPO_MONTO">Oferta 12 Meses</label>
                <input class="form-control form-control-editable" id="OFERTA12M" type="text" value="@Model.Oferta12m"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Tasa 12 Meses</label>
                <input class="form-control form-control-editable" id="TASA12M" type="text" value="@Model.Tasa12m %"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Cuota 12 Meses</label>
                <input class="form-control form-control-editable" id="CUOTA12M" type="text" value="@Model.Cuota12m"
                    readonly>
            </div>
            <div class="spacing"></div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Oferta 18 Meses</label>
                <input class="form-control form-control-editable" id="OFERTA18M" type="text" value="@Model.Oferta18m"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Tasa 18 Meses</label>
                <input class="form-control form-control-editable" id="TASA18M" type="text" value="@Model.Tasa18m %"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Cuota 18 Meses</label>
                <input class="form-control form-control-editable" id="CUOTA18M" type="text" value="@Model.Cuota18m"
                    readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="GRUPO_MONTO">Oferta 24 Meses</label>
                <input class="form-control form-control-editable" id="OFERTA24M" type="text" value="@Model.Oferta24m"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Tasa 24 Meses</label>
                <input class="form-control form-control-editable" id="TASA24M" type="text" value="@Model.Tasa24m %"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Cuota 24 Meses</label>
                <input class="form-control form-control-editable" id="CUOTA24M" type="text" value="@Model.Cuota24m"
                    readonly>
            </div>
            <div class="spacing"></div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Oferta 36 Meses</label>
                <input class="form-control form-control-editable" id="OFERTA36M" type="text" value="@Model.Oferta36m"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Tasa 36 Meses</label>
                <input class="form-control form-control-editable" id="TASA36M" type="text" value="@Model.Tasa36m %"
                    readonly>
            </div>
            <div class="form-group">
                <label for="GRUPO_MONTO">Cuota 36 Meses</label>
                <input class="form-control form-control-editable" id="CUOTA36M" type="text" value="@Model.Cuota36m"
                    readonly>
            </div>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <h3>Tendencia del Prospecto</h3>
        <div class="col-md-6">
            <div class="form-group">
                <label for="PROPENSION">Propensión</label>
                <input class="form-control form-control-editable" id="PROPENSION" type="text" value="@Model.Propension"
                    readonly>
            </div>
            <div class="form-group">
                <label for="TIPO_CLIENTE">Tipo de Cliente</label>
                <input class="form-control form-control-editable" id="TIPO_CLIENTE" type="text"
                    value="@Model.TipoCliente" readonly>
            </div>
            <div class="form-group">
                <label for="CLIENTE_NUEVO">Antiguedad del Cliente</label>
                <input class="form-control form-control-editable" id="CLIENTE_NUEVO" type="text"
                    value="@Model.ClienteNuevo" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Colores -->
            <div class="form-group">
                <label for="COLOR">Color Principal</label>
                <div class="d-flex align-items-center">
                    <input class="form-control ml-2" style="background-color: @GetColorCode(Model.Color!=null ? Model.Color : ""); width: 10%;"
                        readonly>
                    <input class="form-control ml-2" id="COLOR" type="text" value="@Model.Color" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="COLOR_FINAL">Color Final</label>
                <div class="d-flex align-items-center">
                    <input class="form-control ml-2"
                        style="background-color: @GetColorCode(Model.ColorFinal!=null ? Model.ColorFinal : ""); width: 10%;" readonly>
                    <input class="form-control ml-2" id="COLOR_FINAL" type="text" value="@Model.ColorFinal" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="TIPO_USUARIO">Usuario Tipo</label>
                <input class="form-control form-control-editable" id="TIPO_USUARIO" type="text" value="@Model.Usuario"
                    readonly>
            </div>
        </div>
    </div>

    @if (isEditable)
    {
        <div class="spacing"></div>
        <div class="row">
            <div class="alert alert-info" role="alert">
                Use este boton para guardar los cambios realizados en los campos de la sección "Datos del Prospecto"
                "Detalles de la campaña" y "Detalles de las Ofertas"
            </div>
            <div class="col-md-6">
                <a href="javascript:void(0);" class="btn btn-primary" href="javascript:void(0)" id="saveChangesButton"
                    onclick="guardarCambiosPorAsesor()">Guardar Cambios</a>
            </div>
        </div>
    }
</div>

<!-- SECCION TELEFONOS AGREGADOS Por El Usuario -->
<div class="row mb-4">
    <h3 class="label-fortip">Contactos Creados por el Usuario:</h3>

    @if (numerosCreadosPorElUsuario is IEnumerable<TelefonosAgregadosDTO> numCreatedByUser && numCreatedByUser.Any())
    {
        int contadorNumeros = 0;
        <form asp-action="GuardarTipificacionesNumPersonales" asp-controller="Vendedor" method="post">
            <input type="hidden" name="IdAsignacionCliente" value="@ViewData["ID_asignacion"]">
            <h3>Agregue las Tipificaciones a los clientes asignados</h3>
            @foreach (var telefonosVendedor in numCreatedByUser)
            {
                <hr>
                <div class="form-group row align-items-center mb-3">
                    <div class="col-12 col-md-4">
                        <label for="Telefono[@contadorNumeros]" class="form-label">Teléfono @contadorNumeros</label>
                        <input class="form-control" name="tipificaciones[@contadorNumeros].Telefono"
                            id="Telefono_@contadorNumeros" type="text" value="@telefonosVendedor.TelefonoTipificado" readonly />

                        <div class="spacing"></div>

                        <textarea class="form-control" id="comentarioAsesor_@contadorNumeros"
                            data-telefono="@telefonosVendedor.TelefonoTipificado"
                            data-id-cliente="@id_cliente">@telefonosVendedor.ComentarioTelefono</textarea>
                        <div class="spacing"></div>
                        <a href="javascript:void(0);" class="btn btn-primary"
                            onclick="enviarComentario('@id_cliente', '@telefonosVendedor.TelefonoTipificado', 'comentarioAsesor_@contadorNumeros')">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                    <div class="col-12 col-md-8 mt-2 mt-md-0">

                        <!-- Select de Tipificación -->

                        <input type="hidden" name="tipificaciones[@contadorNumeros].TipificacionId"
                            id="tipificacionId_@contadorNumeros" />

                        <!-- Datalist para el filtrado -->

                        <label for="tipificacionSelect_@contadorNumeros" class="form-label mt-2">Tipificación Asignada
                            @contadorNumeros: </label>
                        <input class="form-control" list="tipificacionesList_@contadorNumeros"
                            name="tipificaciones[@contadorNumeros].TipificacionDescripcion"
                            id="tipificacionSelect_@contadorNumeros" placeholder="Presione 2 veces para ver las tipificaciones"
                            oninput="actualizarIdTipificacion(@contadorNumeros); verificarTipificacion(@contadorNumeros)" />

                        <datalist id="tipificacionesList_@contadorNumeros">
                            <option value="">Seleccione la descripción de Tipificación</option>
                            @if (tipificaciones != null)
                            {
                                @foreach (var tipificacion in tipificaciones)
                                {
                                    <option value="@tipificacion.DescripcionTipificacion" data-id="@tipificacion.IdTipificacion">
                                        @tipificacion.DescripcionTipificacion</option>
                                }
                            }
                        </datalist>

                        <!-- Campo de Fecha Oculto por Defecto FECHA VISITA-->
                        <div class="form-group mt-3" id="fechaVisitaContainer_@contadorNumeros" style="display: none;">
                            <div class="row">
                                <div class="col">
                                    <label for="fechaVisita_@contadorNumeros" class="form-label">Fecha de Visita: </label>
                                    <input class="form-control" type="date" name="tipificaciones[@contadorNumeros].FechaVisita"
                                        id="fechaVisita_@contadorNumeros" />
                                </div>
                                <div class="col">
                                    <label for="agenciasasignadas_@contadorNumeros" class="form-label">Seleccione una Agencia:
                                    </label>
                                    <select class="form-select" name="tipificaciones[@contadorNumeros].AgenciaAsignada"
                                        id="tipificaciones[@contadorNumeros].AgenciaAsignada">
                                        <option value="">Seleccione la Agencia</option>
                                        @if (agenciasDisponibles != null)
                                        {
                                            @foreach (var agenciasAsignadas in agenciasDisponibles)
                                            {
                                                <option value="@agenciasAsignadas.sucursal_comercial - @agenciasAsignadas.agencia_comercial">
                                                    @agenciasAsignadas.sucursal_comercial - @agenciasAsignadas.agencia_comercial
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col">
                                <input class="form-control" id="GRUPO_MONTO" type="text"
                                    value="@telefonosVendedor.DescripcionTipificacion" readonly>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-primary" href="javascript:void(0)"
                                    id="buttonDerivacionContainer_@contadorNumeros"
                                    onclick="enviarFormularioDerivacion('tipificaciones[@contadorNumeros].AgenciaAsignada', 'fechaVisita_@contadorNumeros', @Model.IdBase, 'Telefono_@contadorNumeros')"
                                    style="display: none;">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Envie la Derivacion
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="spacing"></div>
                </div>

                contadorNumeros++; // Incrementar el contador después de cada teléfono
            }

            <div class="form-group">
                <div class="alert alert-info" role="alert">
                    Use este boton para agregar las Tipificaciones de los numeros de TELEFONOS ASIGNADOS POR USTED
                </div>
                <button class="btn btn-success" type="submit">Guardar Tipificaciones</button>
            </div>
        </form>
    }

    else
    {
        <div class="row">
            <div class="alert alert-info" role="alert">
                No tiene números de teléfonos asignados por el usuario.
            </div>
        </div>

    }

    <div class="spacing"></div>
    <hr>
    <div>
        <h4>Agregue numeros de Telefono Personales</h4>
        <div>
            <div id="agregarTelefonoBtnCliente">
                <a href="javascript:void(0);" class="btn btn-primary" id="agregarTelefonoBtn"
                    onclick="cargarEdicionDeTelefonos(@id_cliente)">Agregue un Nuevo Telefono</a>
            </div>
            <div class="spacing"></div>
            <div id="cancelaragregarTelefonoBtnCliente" style="display: none;">
                <a href="javascript:void(0);" class="btn btn-secondary" id="cancelaragregarTelefonoBtn"
                    onclick="descargarEdicionDeTelefonos()">Cancelar</a>
            </div>
        </div>

        <div class="spacing"></div>
        <!-- Aca aparecera el FORM -->
        <div id="agregarTelefonoContainer">
        </div>
        <div class="spacing"></div>
    </div>
</div>

<!-- SECCION TELEFONOS AGREGADOS Por LA DB -->

<form asp-action="TipificarMotivo" asp-controller="Vendedor" method="post">
    <div class="row mb-4">
        <h3 class="label-fortip">Contacto con Cliente - Y Tipificaciones Asignadas:</h3>
        <input type="hidden" name="IdAsignacion" value="@ViewData["ID_asignacion"]">

        @for (int i = 0; i < Model.Telefonos.Count; i++)
        {
            int j = i + 1;
            <!-- Teléfono @i -->
            <div class="form-group row align-items-center mb-4">
                <div class="col-12 col-md-4">
                    <label for="Telefono_@j" class="form-label">Telefono @j</label>
                    <input class="form-control" name="Telefono_@j" id="Telefono_db_@j" type="text"
                        value="@Model.Telefonos[@i].Numero" readonly>
                    <div class="spacing"></div>
                    @if (Model.Telefonos[@i].Numero != null && !string.IsNullOrEmpty(Model.Telefonos[@i].Numero))
                    {
                        <textarea class="form-control" id="comentarioAsesor_teldb_@j"
                            data-telefono="@Model.Telefonos[@i].Numero"
                            data-id-cliente="@id_cliente">@Model.Telefonos[@i].Comentario</textarea>
                        <div class="spacing"></div>
                        <a href="javascript:void(0);" class="btn btn-primary"
                            onclick="enviarComentarioTelefonoDB('@id_cliente', '@Model.Telefonos[@i].Numero', 'comentarioAsesor_teldb_@j', @j)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    }
                </div>
                @if (Model.Telefonos[@i].Numero != "0" && !string.IsNullOrEmpty(Model.Telefonos[@i].Numero))
                {
                    <div class="col-12 col-md-8 mt-2 mt-md-0">
                        <input type="hidden" name="Tipificacion_@j" id="tipificacionId_db_@j" />

                        <label for="tipificacionSelect_db_@j" class="form-label mt-2">Tipificacion Asignada @j:</label>
                        <input class="form-control" list="tipificacionesList_db_@j"
                            name="tipificacionesdbTipificacionDescripcion_@j" id="tipificacionSelect_db_@j"
                            placeholder="Presione 2 veces para ver las tipificaciones"
                            oninput="actualizarIdTipificacion('db_@j'); verificarTipificacion('db_@j')" type="text">
                        <datalist id="tipificacionesList_db_@j">
                            <option value="">Seleccione la descripción de Tipificacion</option>
                            @if (tipificaciones != null)
                            {
                                @foreach (var tipificacion in tipificaciones)
                                {
                                    <option value="@tipificacion.DescripcionTipificacion" data-id="@tipificacion.IdTipificacion">
                                        @tipificacion.DescripcionTipificacion</option>
                                }
                            }
                        </datalist>
                        <div class="form-group mt-3" id="fechaVisitaContainer_db_@j" style="display: none;">
                            <div class="row">
                                <div class="col">
                                    <label for="fechaVisita_db_@j" class="form-label">Fecha de Visita:</label>
                                    <input class="form-control" type="date" name="DerivacionDb_@j" id="fechaVisita_db_@j" />
                                </div>
                                <div class="col">
                                    <label for="AgenciaComercialDb_@j" class="form-label">Agencia Comercial:</label>
                                    <select class="form-select" name="AgenciaComercialDb_@j" id="AgenciaComercialDb_@j">
                                        <option value="">Seleccione la Agencia</option>
                                        @if (agenciasDisponibles != null)
                                        {
                                            @foreach (var agenciasAsignadas in agenciasDisponibles)
                                            {
                                                <option value="@agenciasAsignadas.sucursal_comercial - @agenciasAsignadas.agencia_comercial">
                                                    @agenciasAsignadas.sucursal_comercial - @agenciasAsignadas.agencia_comercial
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        @if (Model.Telefonos[@i].FechaTipificacion.HasValue
                       && Model.Telefonos[@i].FechaTipificacion.Value.Year == DateTime.Now.Year
                       && Model.Telefonos[@i].FechaTipificacion.Value.Month == DateTime.Now.Month
                       && Model.Telefonos[@i].DescripcionTipificacion != null)
                        {
                            <div class="row mt-1">
                                <div class="col">
                                    <input class="form-control" id="GRUPO_MONTO" type="text"
                                        value="@Model.Telefonos[@i].DescripcionTipificacion" readonly>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-primary" href="javascript:void(0)" id="buttonDerivacionContainer_db_@j"
                                        onclick="enviarFormularioDerivacion('AgenciaComercialDb_@j', 'fechaVisita_db_@j', @Model.IdBase, 'Telefono_db_@j' )"
                                        style="display: none;">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Envie la Derivacion
                                    </a>
                                </div>
                            </div>
                        }
                        else if (Model.Telefonos[@i].DescripcionTipificacion != null)
                        {
                            <div class="row align-items-center">
                                <div class="col">
                                    <input class="form-control" id="GRUPO_MONTO" type="text"
                                        value="@Model.Telefonos[@i].DescripcionTipificacion" readonly>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-primary" href="javascript:void(0)" id="buttonDerivacionContainer_db_@j"
                                        onclick="enviarFormularioDerivacion('AgenciaComercialDb_@j', 'fechaVisita_db_@j', @Model.IdBase, 'Telefono_db_@j' )"
                                        style="display: none;">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Envie la Derivacion
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <span class="tooltip-symbol" title="Esta tipificación fue extraída del anterior mes">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        }
                        else if (Model.Telefonos[@i].DescripcionTipificacion == null)
                        {
                            <div class="row align-items-center">
                                <div class="col">
                                    <input class="form-control" id="GRUPO_MONTO" type="text" value="" readonly>
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-primary" href="javascript:void(0)" id="buttonDerivacionContainer_db_@j"
                                        onclick="enviarFormularioDerivacion('AgenciaComercialDb_@j', 'fechaVisita_db_@j', @Model.IdBase, 'Telefono_db_@j' )"
                                        style="display: none;">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Envie la Derivacion
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <span class="tooltip-symbol"
                                        title="Este cliente no tiene una tipificacion Asignada a este numero">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        }

                    </div>
                }
                else if (Model.Telefonos[@i].Numero == "0" || string.IsNullOrEmpty(Model.Telefonos[@i].Numero))
                {
                    <div class="col">
                        <div class="alert alert-info">
                            Este numero es inexistente y no se le pueden asignar Tipificaciones
                        </div>
                    </div>
                }
            </div>
            <hr>
        }

        <div class="spacing"></div>

        <div class="form-group">
            <div class="alert alert-info" role="alert">
                Use este boton para agregar las tipificaciones de los numeros de TELEFONOS ASIGNADOS POR LA EMPRESA
            </div>
            <button class="btn btn-success" type="submit">Guardar Tipificaciones</button>
            <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
        </div>
</form>