@model List<ALFINapp.Infrastructure.Persistence.Models.VistasPorRolDTO>

@{
    var vistasPrincipales = Model.Where(v => v.es_principal == true).ToList();
}

<ul class="nav flex-column">
    @foreach (var vista in vistasPrincipales)
    {
        var subVistas = Model.Where(v => v.id_vista_padre == vista.id_vista).ToList();
        <li class="nav-item">
            @if (subVistas.Any())
            {
                <!-- Elemento con submenú -->
                <a href="#submenu-@vista.id_vista" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="bi @vista.bi_logo"></i>
                    <span class="menu-text">@vista.nombre_sidebar</span>
                    <i class="bi bi-chevron-down ms-auto menu-text" style="font-size: 0.75rem;"></i>
                </a>
                <div class="collapse" id="submenu-@vista.id_vista">
                    <ul class="nav flex-column">
                        @foreach (var subVista in subVistas)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action(subVista.ruta_vista, subVista.nombre_vista)" class="nav-link" style="padding-left: 2.5rem;">
                                    <span class="menu-text">@subVista.nombre_sidebar</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <!-- Elemento sin submenú -->
                <a href="@Url.Action(vista.ruta_vista, vista.nombre_vista)" class="nav-link">
                    <i class="bi @vista.bi_logo"></i>
                    <span class="menu-text">@vista.nombre_sidebar</span>
                </a>
            }
        </li>
    }
</ul>